<h1><%= @page_title %></h1>
<p>This is the history of barcode file uploads for the last 12 months.</p>
<p><%= link_to "Upload a new barcode file", new_barcode_file_url %></p>
<table class="table table-sm">
  <thead class="thead-default">
    <tr>
      <th>Upload Date</th>
      <th>Uploaded By</th>
      <th>Barcodes Scanned</th>
      <th>Notes</th>
    </tr>
  </thead>
  <% @barcode_files.each do |file| %>
    <tr>
      <td><%= file.created_at.to_s(:long_12hr) %></td>
      <td><%= file.user.andand.name %></td>
      <td><%= file.to_array.length %></td>
      <td><%= file.notes %></td>
    </tr>
  <% end %>
</table>
