<h1><%= @page_title %></h1>
<p>Upload a barcode file to update inventory. Files should be plain text with one barcode per line.</p>
<% if @barcode_file.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @barcode_file.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@barcode_file, url: barcode_files_url, method: :post) do |f| %>
  <%= f.inputs do %>
    <%= f.input :barcodes, as: :file, label: "Barcode File", input_html: {class: 'form-control'} %>
    <%= f.input :notes, input_html: {rows: 2} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, as: :button, label: "Upload", button_html: {class: 'btn btn-secondary'} %>
  <% end %>
<% end %>
