<h1><%= @page_title %></h1>
<% if @request.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @request.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@request, url: new_book_requests_url ) do |f| %>
  <%= f.inputs do %>
    <%= f.input :requestor_name, :as => :string %>
    <%= f.input :requestor_email, :as => :email %>
    <%= f.input :format, :as => :select,
      :collection => [ "Book", "CD", "DVD", "E-Book", "VHS", "Other" ] %>
    <%= f.input :title %>
    <%= f.input :edition %>
    <%= f.input :author %>
    <%= f.input :isbn, :label => "ISBN" %>
    <%= f.input :publisher %>
    <%= f.input :year, :label => "Year Published" %>
    <%= f.input :series %>
    <%= f.input :volumes %>
    <%= f.input :list_price %>
    <%= f.input :copies_ordered %>
    <% if current_user.employee? %>
      <%= f.input :recommender %>
      <%= f.input :approved_by %>
      <%= f.input :subject_area, :label => "Fund Code",
        :collection => SubjectArea.where.not( "fund_code is null or fund_code=''" ).order( "fund_code ASC" ).pluck( "CONCAT(fund_code, ' - ', subject_name)", :id ) %>
    <% else %>
      <%= f.input :subject_area, :label => "Subject",
        :collection => SubjectArea.where.not( "fund_code is null or fund_code=''" ).order( "subject_name ASC" ).pluck( :subject_name, :id ) %>
    <% end %>
    <%= f.input :notes, :input_html => { :rows => 3 } %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Submit", :button_html => {:class => 'btn btn-default'} %>
  <% end %>
<% end %>
