<div class="employee-directory-menu dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="employee-directory-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Groups
  </button>
  <div class="dropdown-menu" role="menu" aria-labelledby="employee-directory-menu-button">
    <%= link_to("All", employees_url, class: "dropdown-item") %>
    <% Department.all.order(:display_name).each do |department|  %>
      <%= link_to(department.display_name, employees_url( :list => department.department_name ), class: "dropdown-item") %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to("Subject Specialists", subject_specialists_employees_url, class: "dropdown-item") %>
  </div>
</div>
