<h1><%= @page_title %></h1>
<%= render 'employee_groups' %>
<h2>People</h2>
<% if @employees.blank? %>
  <p>There are no employees to display.</p>
<% else %>
  <table class="employee-table table table-striped table-condensed">
    <thead>
      <th>Name</th>
      <th>Title</th>
      <th>Department</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Office</th>
    </thead>
    <% @employees.each do |employee| %>
      <tr>
        <td class="employee-name">
          <% if employee.libguides_profile_url.present?%>
            <%= link_to(employee.last_first, employee.libguides_profile_url) %>
          <% else %>
            <%= employee.last_first %>
          <% end %>
        </td>
        <td class="employee-title"><%= employee.title_and_rank %></td>
        <td class="employee-department"><%= employee.department.display_name %></td>
        <td class="employee-email"><%= link_to employee.email, employee_website_contacts_url( employee.url_slug ) %></td>
        <td class="employee-phone"><%= employee.phone %></td>
        <td class="employe-office"><%= employee.office %></td>
      </tr>
    <% end %>
  </table>
  <ul class='employee-mobile-list list-group'>
    <% @employees.each do |employee| %>
      <li class='list-group-item'>
        <h3><%= employee.last_first %></h3>
        <table class='table table-condensed'>
          <tr>
            <td>Title</td>
            <td><%= employee.title_and_rank %></td>
          </tr>
          <tr>
            <td>Department</td>
            <td><%= employee.department.display_name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= link_to employee.email, employee_website_contacts_url( employee.url_slug ) %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%= employee.phone %></td>
          </tr>
          <tr>
            <td>Office</td>
            <td><%= employee.office %></td>
          </tr>
        </table>
      </li>
    <% end %>
  </ul>
<% end %>
<h2>Library Offices</h2>
<% if @offices.blank? %>
  <p>There are no offices to display.</p>
<% else %>
  <table class="employee-table table table-striped table-condensed">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Department</th>
    </thead>
    <% @offices.each do |office| %>
      <tr>
        <td><%= if office.webpage_url.blank? then office.display_name else link_to office.display_name, office.webpage_url end %></td>
          <td class="office-name"><%= link_to office.email, employee_website_contacts_url( office.office_name ) %></td>
          <td><%= office.phone_number %></td>
          <td><%= office.location %></td>
          <td><%= office.department.display_name %></td>
        </tr>
      <% end %>
    </table>
    <ul class='employee-mobile-list list-group'>
      <% @offices.each do |office| %>
        <li class='list-group-item'>
          <h3><%= if office.webpage_url.blank? then office.display_name else link_to office.display_name, office.webpage_url end %></h3>
            <table class='table table-condensed'>
              <tr>
                <td>Email</td>
                <td><%= link_to office.email, employee_website_contacts_url( office.office_name ) %></td>
              </tr>
              <tr>
                <td>Phone</td>
                <td><%= office.phone_number %></td>
              </tr>
              <tr>
                <td>Location</td>
                <td><%= office.location %></td>
              </tr>
              <tr>
                <td>Department</td>
                <td><%= office.department.display_name %></td>
              </tr>
            </table>
          </li>
        <% end %>
      </ul>
    <% end %>
