<h1><%= @page_title %></h1>
<%= render "employee_groups" %>
<table class="employee-table table table-striped table-condensed">
  <thead>
    <th>Subject</th>
    <th>Librarian</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Office</th>
  </thead>
  <% @subjects.each do |subject| %>
    <% next unless subject.subject_librarian.present? %>
    <tr>
      <td class="employee-subject" ><%= subject.subject_name %></td>
      <td class="employee-name">
        <% if subject.subject_librarian.libguides_profile_url.present? %>
          <%= link_to(subject.subject_librarian.last_first, subject.subject_librarian.libguides_profile_url) %>
        <% else %>
          <%= subject.subject_librarian.last_first %>
        <% end %>
      </td>
      <td class="employee-email">
        <%= link_to(subject.subject_librarian.email, employee_website_contacts_url( subject.subject_librarian.url_slug )) %>
      </td>
      <td class="employee-phone"><%= subject.subject_librarian.phone %></td>
      <td class="employe-office"><%= subject.subject_librarian.office %></td>
    </tr>
  <% end %>
</table>
<ul class="list-group employee-mobile-list">
  <% @subjects.each do |subject| %>
    <% next unless subject.subject_librarian.present? %>
    <li class="list-group-item">
      <h2><%= subject.subject_name %></h2>
      <table class="table table-condensed">
        <tr>
          <td>Librarian</td>
          <td><%= link_to(subject.subject_librarian.last_first, subject.subject_librarian.libguides_profile_url) %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= link_to(subject.subject_librarian.email, employee_website_contacts_url( subject.subject_librarian.url_slug )) %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= subject.subject_librarian.phone %></td>
        </tr>
        <tr>
          <td>Office</td>
          <td><%= subject.subject_librarian.office %></td>
        </tr>
      </table>
    </li>
  <% end %>
</ul>
