<h1><%= @page_title %></h1>
<%= react_component('MeetingRoomBrowser',
  initialRooms: @rooms.as_json(methods: [:medium_photo_url, :google_calendar_week_embed]),
  availabilityUrl: available_rooms_meeting_rooms_url,
  mapUrl: map_url,
  bookingUrl: new_booking_for_meeting_room_url(room_name: "|ROOMNAME|"))
%>
