<h1><%= @page_title %></h1>
<p>
  Note: If your event is within the next three (3) day, please use this form to book a room at JCKL, otherwise please use <a href="http://www.ucmo.edu/25/25">25Live</a>.
</p>
<p>
  University of Central Missouri faculty, staff, and students may reserve available rooms in the James C. Kirkpatrick Library.
</p>
<h2>Scheduling</h2>
<p>
  The facility is reserved on a first-come, first-served basis by application after the library scheduling has been completed. The reservation must be made in advance: two (2) full business days (no less than 48 hours) prior to the start of the event. UCM faculty, staff and students will have priority in the use of the facilities over general community events. Community patrons may be assessed a room rental fee. Please call Meeting & Conference Services at 660-543-4342 or stop by Union 301 for room rental rates.
</p>
<p>
  A written notification of cancellation must be submitted no later than one (1) full business day prior to the scheduled use of the facility. Failure to do so will result in revocation of facility use privileges of any individual and/or group that does not comply with the guidelines as stated herein.
</p>
<h2>Special Arrangements</h2>
<p>
  The Dean of Library Services determines which rooms are available for food and drinks. Only events that have been previously arranged with the Dean may have food and drinks. The requestor is responsible to see that this request is followed. Food services may be contacted at 660-543-4440. Food cannot be delivered prior to opening of facility. Library personnel does not arrange for set up. All set up is the responsibility of the user.
</p>
<p>
  The user will be responsible for setting up any special arrangement for furniture. Please call Meeting & Conference Services at 660-543-4342 or stop by Union 301 for room arrangements. A cleaning fee may be charged if the room/area is not returned to the original conditions.
</p>
<p>
  If special software is needed a room request must be accompanied with request for software noted in the additional information section no less than four (4) weeks in advance and your departmental budget may incur a charge for software purchase and installation by the Office of Technology, Library Services does not provide the specialty software. This does not guarantee room request will be approved.
</p>
<h2>Booking Form</h2>
<% if @booking.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@booking, url: create_booking_for_meeting_room_url(room_name: @booking.meeting_room.andand.room_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :contact_name, as: :string, label: "Name" %>
    <%= f.input :contact_email, as: :email, label: "Email Address" %>
    <%= f.input :contact_phone, as: :string, label: "Phone Number" %>
    <%= f.input :contact_address, as: :string, label: "Address" %>
    <%= f.input :contact_dept, as: :string, label: "Department/Organization" %>
    <%= f.input :meeting_room, as: :select, label: "Room", collection: MeetingRoom.all.order(:display_name).pluck(:display_name, :id) ,input_html: {disabled: true} %>
    <%= f.input :event_name, as: :string, label: "Event Title" %>
    <%= f.input :start_time, as: :string, label: "Booking Start Time", input_html: { class: "anytime-datetime" } %>
    <%= f.input :end_time, as: :string, label: "Booking End Time", input_html: { class: "anytime-datetime" } %>
    <%= f.input :setup_time, as: :select, label: "Setup Time", collection: ["0 minutes", "15 minutes", "30 minutes", "45 minutes", "60 minutes"] %>
    <%= f.input :takedown_time, as: :select, label: "Takedown Time", collection: ["0 minutes", "15 minutes", "30 minutes", "45 minutes", "60 minutes"] %>
    <%= f.input :attendance, as: :number, label: "Estimated Attendance" %>
    <%= f.input :recurrence, as: :text, label: "How often will this meeting recur? (if applicable)", input_html: { rows: "4" } %>
    <%= f.input :notes, as: :text, label: "Additional Information", input_html: { rows: "4" } %>
  <% end %>
  <p>By submitting this request, you have read and hereby agree to the guidelines as outlined above.</p>
  <%= f.actions do %>
    <%= f.action :submit, as: :button, label: "Submit", button_html: {class: 'btn btn-default'} %>
  <% end %>
<% end %>
