<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
<p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Books</h2>
        <%@search.documents.first(20).each do |doc|%>
          <p><%= doc.title.html_safe%></p>
        <%end%>
      </div>
      <div class="col-lg-6">
        <h2>Article</h2>
        <%@article_search.documents.first(20).each do |doc|%>
          <p><%= doc.title.html_safe%></p>
        <%end%>
      </div>
    </div>
  </div>
</p>
<p>
  <div class = "container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Google Search</h2>
        <% @duckduckgo_results.each do |result| %>
          <h3>
            <a href= "<%= result["url"] %>">
              "<%= result["title"] %>"
            </a></h3>
        <%end%>
      </div>
      <div class="col-lg-6">
        <h2>Journal Search</h2>
        <% @journals_search.each do |result| %>
          <h3>
            <a href= "<% = result["url"] %>">
              "<%= result["title"] %>"
          </a>
          </h3>
        </div>
      </div>
    </div>
  </p>
