$text_color: #5A524D;
$text_color: darken($text_color,8%);
$text_color: darken($text_color,20%);
$heading_color: #263034;

$charcoal: #2c2d31;
$gray_light: #e2e2e2;
$gray_medium_dark: #555;
$gray_dark: #333;
$off_white: #f8f8f8;
$alternating_off_white: #fcfcfc;

$line_border: #ccc;
$line_border_light: #ddd;
$border_radius: 8px;

$hyperlink_blue: #07C;
$darkest_blue: #046792;

$ucm_red: #c81f25;
$red: #c0392b;
$blue: #2980b9;
$dark_blue: #34495e;
$blue_green: #16a085;
$green: #27ae60;
$purple: #9b59b6;

$success: #5cb85c;
$danger: #d9534f;
$warning: #f0ad4e;

//Bootstrap overrides
.btn-primary {
  background-color: $darkest_blue;
}

h1 .small {
  color: lighten( $gray_medium_dark, 5% );
}

hr {
  border-top: 1px solid darken( $gray_light, 10% );
}

//end Bootstrap overrides

.transparent {
  background: none;
  background-color: transparent;
}
@include all_small_screens {
  .pages--home {
    .search-options a {
      border: none !important;
    }

    .search-options .navbar-brand {
      background-color: inherit !important;
      cursor: default;
      color: white !important;
    }

    .search-options .navbar-nav li {
      background-color: inherit !important;

      a:hover {
        background-color: $gray_dark;
      }
    }

  }

  .search-wrapper .search-text-field {
    border-top-left-radius: $border_radius !important;
    border-bottom-left-radius: $border_radius !important;
  }

  .search-wrapper {
    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
    }

    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
    }

    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
    }
  }
}
@include not_small_screen {
  .search-options .navbar-nav li a {
    border: none;

    &:hover {
      background-color: inherit;
    }
  }
}

.hero-button {
  background-color: $charcoal;
  color: white;

  .btn {
    background-color: $ucm_red;

    &:hover {
      background-color: darken($ucm_red,10%);
    }

    &:focus {
      outline: none;
    }
  }

  a {
    color: white !important;
  }
}

.front-page-row-1 {

  background-color: darken($gray_light, 10%);
  color: $text_color;

  h3 {
    color: $text_color;
  }

  a,
  a:hover {
    color: $text_color;
  }

  .three-col-display > div {
    background: none !important;
    border-radius: $border_radius;

    > div {
      border-radius: $border_radius !important;
      background: none !important;

      > div {
        background-color: lighten($gray_light, 5%);
        border-radius: $border_radius;
      }
    }

  }

  a,
  div,
  li {
    &:before {
      color: $text_color;
    }
  }
}

.front-page-row-2 {

  background-color: $ucm_red;
  border-bottom: 20px solid darken($ucm_red, 10%);

  h2,
  p {
    color: white;
  }

  .btn {
    border: none;
    background-color: lighten($ucm_red,15%);
    color: white !important;

    &:hover {
      background-color: lighten($ucm_red,20%);
    }

    a {
      color: white !important;
    }
  }

  .news-image a {
    outline: 6px solid darken($ucm_red, 10%);
  }

  .news-right {}

  .owl-next,
  .owl-prev {
    background-color: lighten($ucm_red, 10%) !important;
    opacity: .9 !important;
  }

  .owl-page span {
    background-color: lighten($ucm_red, 10%) !important;
  }

  .social-media-icons {
    border-top: 1px solid darken($ucm_red, 3%);
  }
}
/*
.front-page-row-3{
    background-color: darken($ucm_red, 10%);
    color: white;
}
*/
.front-page-row-3 {

  background-color: $charcoal;

  h2 {
    color: white;
  }

  .new-books-view-more,
  .new-books-view-more.active,
  .new-books-view-more:focus,
  .new-books-view-more:hover {
    background-color: lighten($charcoal, 18%);
    border: none;
    color: white !important;

    a,
    a:hover {
      color: white !important;
    }
  }

  .new-books-view-more:focus,
  .new-books-view-more:hover {
    background-color: lighten($charcoal, 13%);
  }

  .new-book img {
    outline: 7px solid $off_white;
  }

  .popover .popover-content {
    color: $text_color !important;
  }

  border-bottom: 20px solid darken($charcoal, 3%);

}

.owl-next,
.owl-page span,
.owl-prev {}

.content {
  background-color: $off_white; //$gray_light;

  .box-shadow {
    @extend %shadow_outline;
  }

  .content-body.pagelike {
    @extend %shadow_outline;

    form {
      box-shadow: none;
    }
  }

  .panel {
    .panel-heading {
      background-color: $gray_medium_dark;
      color: white;
    }
  }

  h1,
  h2,
  h3 {
    color: $gray_dark;

    a {
      color: $gray_dark;
    }
  }

  ul > li > a:not([href]) {
    color: $gray_dark;
  }
}

.sidebar {
  color: $text_color;

  h3 {
    border-bottom: 1px solid $line_border;
    color: $gray_dark;
  }

  ul {
    a {
      color: $darkest_blue !important;

      &.no-link {
        color: $text_color !important;
      }
    }
  }

  .library-hours-block {
    .library-hours-label {
      color: $text_color !important;
    }

    .library-hours-display {
      background-color: $darkest_blue !important;
      color: white;
    }

    .library-hours-view-calendar a {
      color: $darkest_blue !important;
    }
  }
}
@include all_small_screens {
  .sidebar {
    .inner > div {
      background-color: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }
  }
}

.new-books-navigation button {
  border: 1px solid lighten($text_color, 40%) !important;
  color: $text_color;

  &.new-books-navigation-label {
    background-color: white;
    color: $text_color;

    &:hover {
      background-color: white;
      color: $text_color;
    }
  }
}

.new-books-list {
  .new-book {
    background-color: white;

    &:nth-child(2n) {
      background-color: $alternating_off_white;
    }
  }

  .new-book-call-number {
    background-color: $ucm_red;

    a {
      color: white;
    }
  }
}

.new-books-columns {
  a {
    color: $text_color;
  }

  .new-book-call-number {
    background-color: initial;
  }

  img {
    outline: 3px solid $gray_light;
  }
}

.new-books-rss-link {
  a:before {
    color: #FCA738;
  }
}

.dvd-limiters .filter-label:focus,
.dvd-limiters .filter-label:hover {
  background-color: white;
  border-color: #ccc;
}

.dvd-genres .badge {
  background-color: $darkest_blue;
}

.dvd-rating .fa {
  color: darkred;
}

.dvd-summary .more-link {
  background-color: white;
  color: $text_color;

  &:hover {
    background-color: $off_white;
  }
}

.map-info {
  background-color: $charcoal;
  color: white;

  a {
    color: inherit;
  }

  .panel,
  .panel-heading {
    background-color: inherit;
    color: inherit;
  }

  .list-group,
  .list-group-item,
  .panel,
  .panel-heading {
    border-radius: 0;
  }

  .list-group,
  .panel {
    border: none;
  }

  .panel-heading {
    border-bottom: none;
    border-top: 1px solid lighten($charcoal, 10%);
  }

  .list-group-item {
    background-color: lighten($charcoal, 20%);
    border-bottom: none;
    border-top: 1px solid lighten($charcoal, 15%);

    &.active,
    &:hover {
      background-color: $darkest_blue;

      .badge {
        color: $darkest_blue;
        background-color: white !important;
      }
    }
  }

  .badge {
    background-color: $ucm_red !important;
  }

  .reserve-study-room .btn {
    background-color: $ucm_red;
    color: white;
    border: 2px solid darken( $ucm_red, 10%);

    &:hover {
      background-color: darken( $ucm_red, 5% );
    }
  }

}

.map-wrapper .computer {
  &.available {
    fill: #00bf00;
    stroke: #009900;
    opacity: .85;
  }

  &.unavailable {
    fill: #ff0000;
    stroke: #800000;
    opacity: .6;
  }

  &.closed {
    fill: #aaa !important;
    stroke: #777 !important;
    opacity: .98 !important;
  }
}

.map-wrapper .study-room {

  fill: $blue;
  stroke: $blue;
  opacity: .25;
}

.map-wrapper .location {
  fill: yellow !important;
  fill-opacity: .2 !important;
  stroke-width: 5 !important;
  stroke-opacity: .5 !important;
  stroke: orange !important;
}

.map,
.map-wrapper .floor-viewport {
  fill: $gray_light !important;
  background-color: $gray_light !important;
}

.clf-shopping-cart .clf-book {
  border-bottom: 1px solid $line_border;

  &:first-child {
    border-top: 1px solid $line_border;
  }
}

.clf-browse {
  background: inherit !important;
}

.clf-author-books li {

  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  &:first-child {
    border-top: 0;
  }

}

.formtastic {
  .form-control.error {
    background-color: lighten($ucm_red, 50%);
  }

  .btn {
    background-color: $darkest_blue;
    color: white;

    &:hover {
      background-color: darken($darkest_blue, 6%);
    }

    &.btn-success {
      background-color: $success;
      border-color: darken($success, 50%);
      color: darken($success, 50%);
    }

    &.btn-danger {
      background-color: $danger;
      border-color: darken($danger, 40%);
      color: darken($danger, 40%);
    }

    &.btn-warning {
      background-color: $warning;
      border-color: darken($warning, 40%);
      color: darken($warning, 40%);
    }
  }
}

form {
  .error-message {
    color: $danger;
  }

  .success-message {
    color: $success;
  }
}

.database-page {
  .database-filters {
    @extend %shadow_outline;
  }

  .database-subjects-modal-button {
    background-color: $ucm_red;
    color: white;

    &:hover {
      background-color: lighten($ucm_red, 5%);
    }
  }

  .database-subjects .database-subjects-modal-dialog {
    border: 1px solid $line_border;
  }

  .database-subjects .modal-content {
    border: 1px solid $gray_light;
    border-radius: 0;
  }

  .database-subjects .modal-header {
    background-color: black;
    border-bottom: 0;

    h4 {
      color: white;
    }

    .close {
      background: none;
      color: white;
    }
  }

  .database-subjects .modal-body > ul > li {
    border: 1px solid lighten($ucm_red, 10%);
    border-radius: 0;
  }

  .database-subjects .modal-body {
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .database-subjects .modal-body > ul > li:after {
    color: lighten($ucm_red, 25%);
  }

  .database-subjects .modal-body > ul > li > a {
    background-color: $ucm_red;
    color: white;

    &:hover {
      background-color: lighten($ucm_red, 8%);
    }
  }

  .database-subjects .modal-body > ul > li > ul > li {
    border: 0;
    border-bottom: 1px solid lighten($ucm_red, 12%);
    border-radius: 0;
  }

  .database-subjects .modal-body > ul > li > ul > li > a {
    background-color: lighten($ucm_red, 20%);
    color: white;

    &:hover {
      background-color: lighten($ucm_red, 12%);
    }
  }

  .database-applied-filters {
    border-bottom: 1px solid #ddd;
  }

  .database-applied-filters-clear {
    background-color: $ucm_red !important;
  }

  .database-list {
    @extend %shadow_outline;

    .database {
      background-color: white;
      border-radius: 0;

      &.odd {
        background-color: $alternating_off_white;
      }

      &.guide-tutorial {
        background-color: #d9edf7;
        border: 1px solid #bce8f1;

        &:nth-child(odd) {
          background-color: darken(#d9edf7, 5%);
        }
      }
    }
  }

}

.library-hours-page {
  .library-hours-entry {
    border-top-left-radius: $border_radius * 2!important;
    border-bottom-left-radius: $border_radius * 2!important;
    background-color: white; //lighten($gray_light, 7%);

    li {
      border-top: 1px solid $gray_light;

      &:first-child {
        border: none;
      }
    }

    li.odd {
      //background-color: lighten($gray_light, 8%);
      //border-radius: $border_radius;
    }
  }

  h3 {
    background-color: darken($ucm_red, 5%);
    color: white;
    border-top-left-radius: $border_radius !important;
    border-bottom-left-radius: $border_radius !important;

  }

  .library-hours-show-more {
    background-color: $darkest_blue;
    color: white;

    &:hover {
      background-color: lighten($darkest_blue, 5%);
      color: white;
    }
  }

}

.computer-stats .map-wrapper {
  #floor-1-viewport,
  #floor-2-viewport,
  #floor-3-viewport {
    fill: white !important;
  }
}

.computer-stats .color-key .spectrum {
  border: 1px solid $gray_light;
}

.headcount-entry-table {
  col {
    background-color: $gray_light;
  }

  .floor-1 {
    background-color: lighten($blue, 40%);
  }

  .floor-2 {
    background-color: lighten($green, 40%);
  }

  .floor-3 {
    background-color: lighten($purple, 35%);
  }

  td {
    border-top: 1px solid $gray_dark;

  }
}

.chart-area .dashboard-chart-details-link {
  border-top: 2px solid $gray_light;
}
@include all_small_screens {
  .library-hours-list .library-hours-entry {
    border-radius: 0 !important;

    h3 {
      border-radius: 0 !important;
    }
  }
}

.shared-block {
  ul {
    a,
    a:hover,
    li {
      color: $text_color !important;
    }
  }

  .badge {
    background-color: darken($darkest_blue, 5%) !important;
    color: white !important;

    &:hover {
      color: white !important;
    }
  }

}

.chat-popout {
  background-color: $ucm_red;
  color: white;
  border: 3px double white;
  border-bottom: 0;

  &:hover {
    box-shadow: 0 0 3px 3px $ucm_red;
  }

  a {
    color: white;
  }
}

.jckl-iframe {
  border: none;
}

//LibGuides styles

.s-lg-guide-body,
.s-lib-public-body {
  background-color: $off_white;
}

.s-lib-cmd-bar {
  .navbar-nav > li {
    > a {
      color: $gray_dark;
    }
  }
}

.s-lib-box .s-lib-box-title {
  color: white;
  background-color: $gray_medium_dark;
}

.s-lib-box-content {
  border: 3px solid $gray_light;
  border-top: 0;
}

.libguides-single-page-no-nav {
  .s-lib-box {
    background-color: inherit;
  }

  .s-lib-box-content {
    border: none;
  }

}

/*
.libguides-breadcrumbs .breadcrumb{
    background: none;
}

#s-lg-guide-header{

    .libguides-page-admin-controls{
        border: 0;
        background: inherit;

        .navbar{
            border: 0 !important;
            background: none !important;
        }
    }

    .libguides-page-admin-controls, .libguides-guide-tags-and-subjects{
        color: $text_color !important;
        a, span{
            color: $text_color !important;
        }
    }

    .libguides-guide-title{
        color: $text_color;
        //border-bottom: 1px solid $line_border;

        .libguides-guide-description{
            color: lighten( $text_color, 5%) !important;
        }
    }
}

.libguides-navigation{
    .libguides-guide-navigation{

        .navbar{
            border-radius: 0px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 0;
            border-bottom: 1px solid $line_border;
            border-top: 1px solid $line_border;
            background-color: transparent;
            color: $text_color;

            a, span{
                color: $text_color;
            }
        }

        .navbar-brand{
            color: $text_color !important;
        }

        li a{
            border-radius: 8px;
        }

        li.active a{
            background-color: $darkest_blue !important;
            span{
                color: white;
            }
        }

        li > a:hover{
            background-color: $gray_light;
        }

    }

    .libguides-page-navigation{

        ul{
            background-color: transparent;
            border: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

        }

        li{
            border-radius: 0;
            border: 0;
            background-color: inherit;

            a{
                color: $darkest_blue;
            }
        }

    }

}

.libguides-guide-content{
    color: $text_color;

    #s-lg-page-name, #s-lg-guide-description, h2.s-lib-box-title{
        color: $text_color;
    }

    #s-lg-page-name{
        border-bottom: 1px solid $line_border;
    }

    .content-column{
        //background-color: white;
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }

    h2.s-lib-box-title{
        background-color: inherit;
    }

    .s-lib-box{
        background-color: inherit;
    }

    .sidebar-column{

        h2{
            color: $text_color;
            border-bottom: 1px solid $line_border;
        }

    }

}

.s-lib-footer, #s-lib-footer-public{
    background-color: inherit;
    border: 0px;
    border-top: 1px solid $line_border;
    color: $text_color;

    a{
        color: $text_color !important;
    }

    li{
        border-right: none;
    }
}
*/

//ILLiad Styles
.illiad {
  .login-form button {
    background-color: $darkest_blue;
    color: white;
  }

  h3 {
    color: $text_color;
  }

  .illiad-alerts {
    h4 {
      border: none;
    }
  }

  .statusError,
  .statusNormal {
    border: 1px solid;
  }

  .illiad-menu {
    .panel-heading {
      background-color: $gray_medium_dark;
      color: white;
    }

    h2 {
      border: none;
    }
  }

  .default-table > table {

    border-bottom: 2px solid darken($gray_light, 6%);

    .row-header {
      background-color: $gray_light;
    }

    .row-headings {
      border-bottom: 2px solid darken($gray_light, 6%);
    }
  }

  .illiad-giant-buttons {
    a {
      color: white;
    }

    .illiad-request-photocopy {
      background-color: $blue_green;

      &:hover {
        background-color: darken($blue_green, 5%);
      }
    }

    .illiad-request-book {
      background-color: $blue;

      &:hover {
        background-color: darken($blue, 5%);
      }
    }

    .illiad-download-items {
      background-color: $dark_blue;

      &:hover {
        background-color: darken($dark_blue, 5%);
      }
    }
  }
}

//EZproxy styles
.ezproxy {
  .login-form button {
    background-color: $darkest_blue;
    color: white;
  }
}

//EJS Styles
.ejs {
  .SS_DataBaseIndex > li,
  .SS_Holding {
    &:nth-child(odd) {
      background-color: $alternating_off_white;
    }
  }
}

//DSpace Styles
.dspace {
  .trail-wrapper {
    border-bottom: none;
    background: none;

    .breadcrumb {
      background: none;
    }

    #user-dropdown-toggle {
      background-color: inherit;
    }
  }

   &,
  #main-container,
  .main-content,
  .trail-wrapper {
    background-color: $off_white;

    #sidebar,
    .row-offcanvas {
      background: inherit;
    }
  }

  .item-page-field-wrapper h5 {
    color: $gray_medium_dark;
  }

  #main-container .search {
    background: none;
  }

  #sidebar .list-group-item.active {
    background-color: $darkest_blue;
  }

  #jckl-footer > .container {
    padding: 0;
    border: 0;

    .footer-column {
      border: 0;
    }
  }
}

//LibCal
.s-lc-public .lc_rm_b {
  background-color: #777;
}
