
//@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans:400italic,400,700");

$standard_fonts: "Open Sans", "Helvetica Neue", Helvetia, Arial, sans-serif;
$serif_fonts: "Georgia, Verdana, serif";

html, body{
    font-size: 100%;
    font-family: $standard_fonts;
}

//Bootstrap overrides

.badge{
    font-size: 0.75rem;
}

.btn, .input{
    font-size: 1rem;
}

.btn-lg, .input-lg{
    font-size: 1.125rem;
}

.btn-sm, .input-sm, .dropdown-menu{
    font-size: 0.875rem;
}

.btn a{
    text-decoration: none;
}

//End Bootstrap overrides

a, a:visited{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    font-family: $standard_fonts;
    font-weight: bold;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.3rem;
    font-weight: normal;
}

h4{
    font-weight: bold;
    font-size: 1rem;
}

h5, h6{
    font-size: 1rem;
}

p{
    margin: 0 0 20px 0;
    font-size: 1.05rem;
}

li{
    margin-bottom: 0.5rem;
}

.big-text{
    font-size: 1.5rem;
}

button{
    font-size: 1.1rem;
}

#jckl-header{
    a{
        text-decoration: none;
    }
    
    .ucm-links{
        font-size: 0.82rem;
        
        .dropdown-toggle{
            font-weight: bold;
            font-size: 0.75rem;
            
            &:after{
                font-weight: normal;
                font-size: 0.88rem;
            }
        }
        
        .dropdown-menu a:hover{
            text-decoration: underline;
        }
    }
    
    .navbar-nav > li > a{
        font-size: 1.05rem;
    }
    
    .navbar{

        .dropdown-menu a:hover{
            text-decoration: underline;
        }

        .dropdown-menu{
            a, h4{
                font-size: 0.9rem;
            }
        }

        .navigation-heading{
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    
}

@include all_small_screens{
    #jckl-header .navbar-nav .dropdown-menu h4{
        font-size: 1rem;
    }
}



.search{
        
    .search-options{
        font-size: 0.87rem;
        
        a:hover{
            text-decoration: none;
        }
        
        li a{
            line-height: 1.5rem;
        }
    }
    
}


@include all_small_screens{
    .search-wrapper{
        .btn, input{
            font-size: 0.8rem !important;
        }        
    }
    
    .search-options .navbar-brand{
        font-size: 1rem;
    }
}


.content{
    font-size: 1rem;
    
    .content-body{
        p, li, h2, h3, h4, h5, h6{
            line-height: 1.7rem;
        }
    }
    
    .panel-title{
        font-weight: bold;
        font-size: 1.05rem;
    }
    
    ul > li, h1, h2, h3{
        > a:not([href]){
            &:hover{
                text-decoration: none;
            }
        }
    }
}

@include all_small_screens{
    .content h1{
        font-size: 2rem;
    }
}

.sidebar{
    h3{
        font-size: 1.3rem;
        margin: 1rem 0rem;
    }

    li{
        font-size: 0.9rem !important;
        line-height: 1rem !important;
    }

    .library-hours-block{
        a:hover{
            text-decoration: underline;
        }
        
        .library-hours-label{
            font-weight: normal !important;
        }

        .library-hours-view-calendar{
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }
}

.hero-button{
    font-size: 1.75rem;
    
    button{
        font-size: 1.25rem !important;
        a:hover{
            text-decoration: none;
        }
    }
}

@include all_small_screens{
    .hero-button{
        font-size: 1.2rem;
    }
}

.front-page-row-1{
    .three-col-display{

        ul{
            font-size: 0.87rem;
        }

        .library-hours{
            .library-hours-view-calendar{
                font-size: 1rem;
            }

            .library-hours-label{
                font-weight: bold;
            }
        }

        a:hover{
            text-decoration: underline;
        }

    }

}

.front-page-row-2{
    .news-story-read-more{
        
        font-size: 1.1rem;
        
        a:hover{
            text-decoration: none;
        }
    }
}

.front-page-row-3{
    a:hover{
        text-decoration: none;
    }
}

.new-books-rss-link{   
    a{
        text-decoration: none;
        font-size: 0.9rem;
    }
}

.new-book-call-number{
    text-transform: uppercase;
}

.new-books-list{
    .new-book{
        font-size: 1rem;
    }

    .new-book-title{
        font-size: 1.2rem;
    }
    

    .new-book-summary{
        font-size: 0.9rem;
    }
}

.new-books-columns{
    .new-book-title{
        font-size: 0.9rem;
        font-weight: bold;
    }
}

.new-book-summary.loading{
    font-size: 0;
}

.dvd{
    .dvd-title{
        font-size: 1.2rem;
        
        .label{
            font-size: 0.75rem;
        }
    }
    
    .dvd-summary .more-link:hover{
        text-decoration: none;
    }
}

.map-wrapper .floor-label{
    font-family: "Copperplate Gothic Bold", Times, Serif;
}

.map-info .reserve-study-room{
    text-align: center;
    a{
        font-weight: bold;
        font-size: 1.2rem;
    }
} 

.room-schedule-calendar h1 .room-name{
    font-size: 1.25rem;
}

.room-queue-administer .room-queue-clear-name-modal button a{
    text-decoration: none;
}

.room-queue-index .room-queue-entry-number{
    font-size: 2.5rem;
}

.database-page{

    .database-list{
        .database-title{
            font-size: 1rem;                    
        }

        .database-description, .database-media-type, .database-subject-area, .database-friendly-url{
            font-size: 0.85rem;

            .list-label{
                font-weight: bold;
            }
        }
    }
    
    
    .database-filters{
        h3{
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .database-a-z li{
        font-size: 0.88rem;

        a{
            text-decoration: underline;
        }
    }

    .database-subjects-modal-button{
        font-size: 0.94rem;
        font-weight: bold;
    }

    .database-subjects{
        a, a:hover{
            font-size: 0.94rem;
            font-weight: bold;
            text-decoration: none;
        }
    }
    
    .database-applied-filters{
        font-size: 1rem;
    }

    .database-applied-filters-label{
        font-weight: bold;
    }

    .database-search-input{
        font-size: 0.87rem;
    }

    .database-trial-expiration{
        font-size: 0.9rem;  
    }
    
}


.library-hours-page{

    
    .library-hours-google-calendars .dropdown-toggle{
        font-size: 1rem;
    }
    
    .library-hours-entry li span{
        font-family: "Open Sans", "Helvetica Neue", Helvetia, Arial, sans-serif;
        font-size: 1rem;
    }
    
    .library-hours-entry-weekday, .library-hours-entry-date, .library-hours-entry-month, .library-hours-entry-year{
        line-height: 2rem;
        font-weight: bold;
    }

    .library-hours-entry-weekday{
        font-size: 1.8rem;
    }

    .library-hours-entry-date, .library-hours-entry-month, .library-hours-entry-year{
        font-size: 1rem;
    }

}

@include all_small_screens{
    .library-hours-google-calendars{
        .btn{
            font-size: 0.9rem !important;
        }
    }
    
    .library-hours-list .library-hours-entry h3 span{
        font-size: 1.5rem !important;
    }
    
    .library-hours-entry li span{
        font-size: 0.9rem !important;
    }
}

.news-index{
    font-size: 1rem;
    
    .news-title{
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.news-story-article{
    font-size: 1rem;
}

.clf-book{
    .clf-book-title{
        font-size: 1.2rem;
    }
}

.clf-sidebar-cart .clf-book div{
    font-size: 0.9rem;
    
    &.clf-book-title{
        font-size: 1rem;
        font-style: italic;
    }
}

.clf-shopping-cart-top .clf-cart-total-row td{
    font-weight: bold;
}

.clf-cart-actions a{
    text-decoration: none;
}

.file-index-table{
    font-size: 0.8rem;
    
    .btn{
        font-size: 0.8rem;
    }
}

.headcount-entry-table{
    th{
        font-size: 0.8rem;
        font-weight: normal;
    }
}

.shared-block{
    ul li{
        font-size: 1rem;
    }
    
    .library-hours-label{
        font-weight: bold;
    }
    
    .library-hours-view-calendar{
        font-size: 1rem;
    }
    
    .badge{
        text-decoration: none !important;
    }
}


.narrow-block{
    li > a{
        font-size: 0.9rem !important;
        font-weight: normal !important;
        
        &.badge{
            font-size: 0.75rem !important;
            font-weight: bold !important;
        }
    }
}

.chat-popout{
    font-weight: bold;
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.03rem;
    a{
        text-decoration: none;
    }
}

#jckl-footer{
    font-size: 1rem;
    
    .footer-column h3 a:not([href]):hover{
        text-decoration: none;
    }
}

//Libguides styles
.s-lib-cmd-bar{
    min-height: 0;
    
    .navbar-nav, .navbar-header{
        font-size: 0.75rem;
        font-weight: bold;
        font-family: Arial, Helvetica, Verdana;
    }
    
    .navbar-brand{
        height: auto; 
    }
    
    #acctlinks{
        font-size: 0.7rem;
        font-weight: normal;
        font-family: Arial, Geneva, Helvetica, sans-serif;
    }
}

.s-lib-box .s-lib-box-title{
    font-size: 1.05rem;
}

.libguides-single-page-no-nav{
    #s-lg-guide-header-info h1{
        font-size: 2rem !important;
    }
    
    #s-lib-bc-list.breadcrumb{
        font-weight: normal !important;
        font-size: 1rem !important;
    }
} 

/*
#s-lg-guide-header{
    .guide-admin-tags-subjects, .page-admin-controls{
        font-size: 12px !important;
        
        a, span{
            font-size: 12px !important;
        }
    }    
    
    .libguides-guide-title{
        font-size: 1.6rem;
        
        .libguides-guide-description{
            font-size: 1.1rem;
        }
    }
}

.libguides-navigation{
    .libguides-page-navigation .s-lib-box-title{
        font-size: 0.9rem;
        font-weight: normal;
        a{
            font-weight: normal;
        }
    }
    
}

.libguides-guide-content{
    #s-lg-page-name{
        font-size: 2.5rem;
    }
    

    h2.s-lib-box-title{
        font-size: 1.3rem;
    }
    
    .sidebar-column{        
        
        h2{
            font-size: 1.3rem;
            font-weight: 500;
        }
        
    } 
    
    a{
        font-weight: normal;
        
        &:hover{
            text-decoration: none;
        }
    }
    
}
*/

//ILLiad styles
.illiad{
    .login-help a{
        font-size: 0.9rem;
    }
    
    &.illiad-login h2{
        font-size: 1.3rem;
    }
    
    .illiad-alerts{
        h4{
            font-weight: bold;
        }
    }
    
    .illiad-menu{
        .panel-title{
            font-weight: bold;
        }
    }
}

//EJS styles
.ejs{
    *{
        text-align: left;
    }
    
    .SS_SearchToolsGroup, .SS_ResultsNoteGroup, .SS_SkipNavigationLinks, .SS_SearchResultsCount, .SS_LetterLinks, .SS_JournalTitle, .SS_JournalISSN{
        font-size: 0.9rem;
    }

    .SS_EJPTermsOfUse, .SS_EJPResultsRefinerLink, .SS_EJPResultsJournalLinker, .SS_HoldingData{
        font-size: 0.8rem;
    }
    
    .SS_PrevResultsLabel, .SS_NextResultsLabel{
        font-weight: bold;
    }
    
    .SS_TOULink, .SS_LicenseHeader{
        font-weight: bold;
    }
    
    .SS_TOUHeader{
        font-weight: bold;
        font-size: 1.1rem;
    }
    
    .SS_TermsSection{
        font-size: 1.2rem;
    }
    
    .ContentHeading{
        font-weight: bold;
    }
    
    .CandyWrapper{
        .WideNoBorder{
            font-size: 0.9rem;
            
            caption{
                font-weight: bold;
            }
        }
        
        .BorderN{
            font-weight: bold;
        }
        
        .RefinerForm{
            .NoteFlag, .RefinerLabel{
                font-weight: bold;
                font-size: 0.8rem;
            }
        }
    }
    
    .url{
        text-align: left !important;
    }
    
    #CitationRefiner{
        .CandyWrapper{
            font-size: 0.9rem;
        }
    }
    
    .content-body b{
        font-size: 0.9rem;
    }
}

//DSpace Styles
.dspace{
    
    .item-page-field-wrapper h5{
        font-weight: bold;
        font-size: 0.9rem;
    }
}

//LibCal Styles

body.s-lc-public{
    font-size: 12px !important;
    font-family: Arial, Helvetica, Verdana;
    
    @include all_small_screens{
        .s-lc-rm-rn{
            font-size: 10px !important;
        }
    }
}