<h1><%= @page_title %></h1>
<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Floor</th>
    <th>Last Session</th>
    <th></th>
  </thead>
  <% @computers.each do |computer| %>
    <tr class="computer">
      <td><%= computer.computer_name %></td>
      <td><%= computer.floor %></td>
      <td><%= computer.last_session.andand.updated_at.andand.to_formatted_s(:long_12hr) %></td>
      <td><%= link_to("View", "") %></td>
    </tr>
  <% end %>
</table>
