<h1><%= @page_title %></h1>
<nav class="new-books-navigation">
  <div class="new-books-subjects dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Subject<%= if @active_subject.present? then ": #{@active_subject.display_name}" end %>
      </button>
      <div class="dropdown-menu">
        <%= link_to("Call Number Subject Mappings", mappings_new_books_url, class: "dropdown-item") %>
        <a class="divider"></a>
        <% @subjects.each do |subject| %>
          <%= link_to(subject.display_name, new_books_url(subject: subject.display_name), class: "dropdown-item") %>
        <% end %>
        <li class="divider"></li>
      </div>
    </div>
    <div class="new-books-call-number-ranges dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Call Number Range<%= if @active_call_number_range.present? then ": #{@active_call_number_range.range_summary}" end %>
        </button>
        <div class="dropdown-menu">
          <%= link_to("Call Number Subject Mappings", mappings_new_books_url, class: "dropdown-item") %>
          <a class="divider"></a>
          <% @call_number_ranges.each do |range| %>
            <%= link_to(range.range_summary, new_books_url(range: range.id), class: "dropdown-item") %>
          <% end %>
        </div>
      </div>
      <div class="new-books-subject dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Time Frame: <%= if @timeframe.present? then @timeframe else "Last 12 Months" end %>
          </button>
          <div class="dropdown-menu">
            <%= link_to("Last 12 Months", new_books_url(range: @active_call_number_range.andand.id, subject: @active_subject.andand.subject_name), class: "dropdown-item") %>
            <% for i in 0..11 %>
              <%= link_to((Time.zone.now - i.months).strftime("%b %Y"), new_books_url(range: @active_call_number_range.andand.id, subject: @active_subject.andand.subject_name, timeframe: (Time.zone.now - i.months).strftime("%Y-%m")), class: "dropdown-item") %>
            <% end %>
          </div>
        </div>
        <%= link_to("Reset", new_books_url, class: "btn btn-secondary") %>
      </nav>
      <% if @paginated_books.present? %>
        <div class="results-count">
          <%= "Showing #{(@current_page * @books_per_page) + 1} - #{(@current_page * @books_per_page) + @paginated_books.length} of #{@books.length} new items." %>
        </div>
        <%= render "pagination" %>
        <ul class="list-group">
          <% @paginated_books.each do |book| %>
            <li class="new-book list-group-item clearfix">
              <div class="col-md-2">
                <div class="new-book-image">
                  <a href="<%= book.quest_url %>">
                    <img src="<%= book.full_image_url(request.host_with_port, true) %>" alt="Cover image" />
                  </a>
                </div>
              </div>
              <div class="col-md-10">
                <div class="new-book-call-number label">
                  <a href="<%= book.quest_url %>"><%= book.call_number %></a>
                </div>
                <div class="new-book-title">
                  <a href="<%= book.quest_url %>"><%= book.title %></a>
                </div>
                <div>
                  <div class="new-book-year">&copy; <%= book.year %>,</div>
                  <div class="new-book-author"><%= book.author %></div>
                </div>
                <div class="new-book-summary clearfix readmore" data-lines="4"><%= book.summary %></div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= render "pagination" %>
      <% else %>
        <p>There are no new items matching these criteria.</p>
      <% end %>
