<h1><%= @page_title %></h1>
<% @subjects.each do |subject| %>
  <h2 class="subject"><%= subject.subject_name %></h2>
  <ul>
    <% subject.call_number_ranges.each do |range| %>
      <li class="range"><%= range.range_summary %></li>
    <% end %>
  </ul>
<% end %>
