<h1 class="sr-only">James C. Kirkpatrick Library Home Page</h1>
<section class="index-chat">
  <div>Are you having trouble? Librarians are here to help.</div>
  <div id="libchat_0d87ea30ebf2ab1d5c12a1bc01588deb"></div>
  <script type="text/javascript" src="//v2.libanswers.com/load_chat.php?hash=0d87ea30ebf2ab1d5c12a1bc01588deb"></script>
</section>
<section class="index-links">
  <div class="inner container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <%= render 'shared/hours' %>
            <%= render 'shared/help' %>
            <%= render 'shared/computers' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="index-news">
  <div class="inner container">
    <h2>Library News</h2>
    <div class="row">
      <div class="col-md-12">
        <% NewsItem.current_news.in_groups_of(4) do |group| %>
          <!--Start card deck-->
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <% group.each do |news_item| %>
                <% if news_item.present? and news_item.andand.friendly_url.present? %>
                  <div class="news-item card" id="news-item-<%= news_item.id %>">
                    <% if news_item.news_image.present? %>
                      <div class="news-image">
                        <%= image_tag(news_item.news_image.url(:medium), alt: news_item.title, class: 'card-img-top')  %>
                      </div>
                    <% end %>
                    <div class="card-block">
                      <h3 class="card-title"><%= link_to news_item.title, news_item_url(friendly_url: news_item.friendly_url) %></h3>
                      <% if news_item.teaser.present? %>
                        <p class="card-text"><%= news_item.teaser %></p>
                      <% end %>
                      <%= link_to "Read More", news_item_url(friendly_url: news_item.friendly_url), class: "card-link" %>
                    </div>
                  </div>
                <% else %>
                  <div class="card blank-card"></div>
                <% end %>
              <% end %>
            </div>
          </div>
          <!--End card deck-->
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="social-media-icons col-md-4 offset-md-4">
        <a href="https://www.facebook.com/JCKLibrary" title="Facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/jcklibrary" title="Twitter"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="http://instagram.com/jcklibrary" title="Instagram"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="https://www.youtube.com/user/JCKLibraryUCM" title="YouTube"><i class="fa fa-youtube-play fa-3x"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="index-new-books">
  <div class="inner container">
    <h2>New Arrivals</h2>
    <%= react_component('NewBooksSlider', {books: NewBook.randomized_new_books(30).as_json(methods: :quest_url) }) %>
    <%= link_to("View More New Arrivals", new_books_url, class: "btn btn-lg btn-primary new-books-view-more") %>
  </div>
</section>
