<div class="page sitemap">
  <h1><%= page_title %></h1>
  <% NavigationMenuItem.roots.order( "position asc" ).each do |menu| %>
    <h2>
      <a <%= if menu.url then "href='#{menu.url}'".html_safe end %> <%= if menu.element_class then "class='#{menu.element_class}'".html_safe end %> <%= if menu.element_id then "id='#{menu.element_id}'".html_safe end %>>
        <%= menu.label.html_safe %>
      </a>
    </h2>
    <% if menu.children %>
      <% menu.children.order( "position asc" ).each do |child1| %>
        <h3>
          <a <%= if child1.url then "href='#{child1.url}'".html_safe end %> <%= if child1.element_class then "class='#{child1.element_class}'".html_safe end %> <%= if child1.element_id then "id='#{child1.element_id}'".html_safe end %>>
            <%= child1.label.html_safe %>
          </a>
        </h3>
        <% if child1.children %>
          <ul>
            <% child1.children.each do |child2| %>
              <li>
                <a <%= if child2.url then "href='#{child2.url}'".html_safe end %> <%= if child2.element_class then "class='#{child2.element_class}'".html_safe end %> <%= if child2.element_id then "id='#{child2.element_id}'".html_safe end %>>
                  <%= child2.label.html_safe %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
