<h1><%= @page_title %></h1>
<table class="table table-striped">
  <% @weeks.each_with_index do |week, i| %>
    <thead>
      <th>
        <h2>
          <% if i == 0 %>
            This Week
        <% elsif i == 1 %>
            Next Week
        <% else %>
            Week of <%= week[0].calendar_date.strftime("%B %-d") %>
          <% end %>
        </h2>
      </th>
      <th></th>
    </thead>
    <% week.each_with_index do |day, i| %>
      <% next unless day.present? %>
      <tr class="weekday-<%= i %> <%= if day.calendar_date < Time.zone.now.to_date then "past-date" elsif day.calendar_date == Time.zone.now.to_date then "today" end %>">
        <td class="calendar-date"><%= day.calendar_date.strftime("%A, %B %-d") %></td>
        <td class="calendar-hours"><%= day.hours_display_text %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<% if !@show_all %>
  <%= link_to( "View More Weeks", library_hours_url(showall: "1"), class: "btn btn-primary btn-blue view-more-weeks") %>
<% end %>
