<h1>Purchase Request</h1>
<table>
  <tr>
    <td class="padded-right">Time Submitted:</td>
    <td><%= Time.zone.now.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Submitted By:</td>
    <td><%= @request.submitted_by %></td>
  </tr>
  <tr>
    <td class="padded-right">Requestor Name:</td>
    <td><%= @request.requestor_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Requestor Email:</td>
    <td><%= @request.requestor_email %></td>
  </tr>
  <tr>
    <td class="padded-right">Format:</td>
    <td><%= @request.format %></td>
  </tr>
  <tr>
    <td class="padded-right">Title:</td>
    <td><%= @request.title %></td>
  </tr>
  <tr>
    <td class="padded-right">Edition:</td>
    <td><%= @request.edition %></td>
  </tr>
  <tr>
    <td class="padded-right">Author:</td>
    <td><%= @request.author %></td>
  </tr>
  <tr>
    <td class="padded-right">ISBN:</td>
    <td><%= @request.isbn %></td>
  </tr>
  <tr>
    <td class="padded-right">Year Published:</td>
    <td><%= @request.year %></td>
  </tr>
  <tr>
    <td class="padded-right">Series:</td>
    <td><%= @request.series %></td>
  </tr>
  <tr>
    <td class="padded-right">Volumes;</td>
    <td><%= @request.volumes %></td>
  </tr>
  <tr>
    <td class="padded-right">List Price:</td>
    <td><%= @request.list_price %></td>
  </tr>
  <tr>
    <td class="padded-right">Copies Ordered:</td>
    <td><%= @request.copies_ordered %></td>
  </tr>
  <% if @user.employee? %>
    <tr>
      <td class="padded-right">Recommender:</td>
      <td><%= @request.recommender %></td>
    </tr>
    <tr>
      <td class="padded-right">Approved By:</td>
      <td><%= @request.approved_by %></td>
    </tr>
    <tr>
      <td class="padded-right">Fund Code:</td>
      <td><%= @request.subject_area.fund_code %> - <%= @request.subject_area.display_name %></td>
    </tr>
  <% else %>
    <tr>
      <td class="padded-right">Subject</td>
      <td><%= @request.subject_area.display_name %></td>
    </tr>
  <% end %>
  <tr>
    <td class="padded-right">Notes</td>
    <td><%= @request.notes %></td>
  </tr>
</table>
