<script type="text/javascript">
  var $buoop = {
    vs:{i:8,f:15,o:12,s:5,c:30},
    text: "Your browser (%s) is out of date. Pages may load slowly and appear broken. For the best experience, <a%s>please update your browser</a>.",
    reminder: 0
  };
  $buoop.ol = window.onload;
  window.onload=function(){
   try {if ($buoop.ol) $buoop.ol();}catch (e) {}
   var e = document.createElement("script");
   e.setAttribute("type", "text/javascript");
   e.setAttribute("src", "//browser-update.org/update.js");
   document.body.appendChild(e);
  }
</script>
