<div class="computers-block card">
  <div class="card-block">
    <h2 class="card-title">Study Rooms and Computers</h2>
  </div>
  <ul class="computers-list">
    <li class="study-rooms"><i class="fa fa-users"></i><a href="<%= map_url( :menu => "studyroom" ) %>">Study Rooms</a>
      <a href="http://ucmo.libcal.com/booking/jckl-study-rooms" class="tag tag-default pull-right">
        Reserve Study Rooms
      </a>
    </li>
    <li class="computers"><i class="fa fa-laptop"></i><a href="<%= map_url( :menu => "lab" ) %>">Computers</a>
      <a href="<%= map_url( :menu => "lab" ) %>" class="tag tag-default pull-right">
        <%= Rails.cache.fetch( "available_computers_count/") or 0 %> available
      </a>
    </li>
    <li class="room-bookings"><i class="fa fa-calendar"></i><a href="<%= roomschedules_url %>">Other Rooms</a></li>
    <li class="printing"><i class="fa fa-print"></i><a href="http://guides.library.ucmo.edu/printinghelp">Printing Help</a></li>
    <li class="off-campus"><i class="fa fa-unlock-alt"></i><a href="http://guides.library.ucmo.edu/offcampus">Off-Campus Database Access</a></li>
  </ul>
</div>
