<footer class="footer" id="jckl-footer">
  <div class="inner container">
    <h2 class="sr-only">More Navigation Options</h2>
    <div class="footer-columns footer-navigation-menu row">
      <% cache( NavigationMenuItem.cache_key + "-footer" ) do %>
        <% NavigationMenuItem.roots.each do |menu| %>
          <div class="footer-column col-md-<%= (12 / NavigationMenuItem.roots.length ) %>">
            <h3><%= menu.label %></h3>
            <ul>
              <% menu.children.order(:position).each do |submenu| %>
                <% if submenu.url.present? and submenu.show_in_footer %>
                  <li><a class="nav-menu-item-<%= submenu.id %> dropdown-item" href="<%= submenu.url %>"><%= submenu.label %></a></li>
                <% end %>
                <% submenu.children.order(:position).each do |nav_link| %>
                  <% next unless nav_link.show_in_footer %>
                  <li><a class="nav-menu-item-<%= nav_link.id %> dropdown-item" href="<%= nav_link.url %>"><%= nav_link.label %></a></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="footer-bottom">
      <h2 class="sr-only">Site Information</h2>
      <p>
        <span>James C. Kirkpatrick Library</span> | <span>601 South Missouri </span> | <span>Warrensburg, MO 64093</span> | <span>660-543-4565</span> | <span><a href="<%= root_url %>">Library Home Page</a></span>
      </p>
      <p>
        <span>University of Central Missouri</span> | <span>P.O. Box 800</span> | <span>Warrensburg, MO 64093</span> | <span>877-729-8266</span> | <span><a href="http://www.ucmo.edu">University Home Page</a></span>
      </p>
      <p>
        <% if user_signed_in? %>
          <span>Signed in as <%= current_user.name %></span> |
        <% if current_user.employee? %>
            <span><%= link_to "Employee Portal", portal_employees_url %></span> |
        <% end %>
          <span><%= link_to "Sign out", destroy_user_session_path, :data => {confirm: "Are you sure?"}, :method => :delete %></span>
        <% else %>
          <span><%= link_to "Employee Login", user_google_oauth2_omniauth_authorize_path %></span>
        <% end %>
      </p>
    </div>
  </div>
</footer>
