<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
<a href="#jckl-search" class="sr-only sr-only-focusable">Skip to search</a>
<header class="header" id="jckl-header">
  <div class="inner <%= if @layout_template == "full_screen" then "container-fluid" else "container" end %>">
    <div class="row">
      <h2 class="sr-only">Main Navigation Menu</h2>
      <div class="col-md-4">
        <div class="jckl-logo">
          <a href="<%= root_url %>">
            <%= image_tag "logo.png", {alt: "James C. Kirkpatrick Library"} %>
          </a>
        </div>
      </div>
      <div class="nav-menus col-md-8">
        <h2 class="sr-only">University of Central Missouri Links</h2>
        <nav class="ucm-links dropdown">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            University of Central Missouri
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/">UCM Home</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://ucmo.blackboard.com/">Blackboard</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmbookstore.com/home.aspx">Bookstore</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/search/">Campus Directory</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/campusmap/">Campus Map</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://mail.ucmo.edu/">Google Apps @ UCM</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://mycentral.ucmo.edu/">MyCentral</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/calendar/">University Calendar</a></li>
          </ul>
        </nav>
        <nav class="header-navigation-menu nav nav-inline" role="navigation">
          <% cache( NavigationMenuItem.cache_key ) do %>
            <% NavigationMenuItem.roots.each do |menu, i| %>
              <div class="nav-item dropdown">
                <a class="nav-menu-item-<%= menu.id %> nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= menu.label %></a>
                <div class="dropdown-menu">
                  <% menu.children.order(:position).each do |menu_section| %>
                    <section class="menu-section">
                      <header class="nav-menu-item-<%= menu_section.id %>"><%= menu_section.label %></header>
                      <% menu_section.children.order(:position).each do |nav_link| %>
                        <a class="nav-menu-item-<%= nav_link.id %> dropdown-item" href="<%= nav_link.url %>"><%= nav_link.label %></a>
                      <% end %>
                    </section>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</header>
