<div class="help-block card">
  <div class="card-block">
    <h2 class="card-title">
      <% if controller_name == "index" and action_name == "index" %>
        More Ways to Get Help
      <% elsif controller_name == "contact" and action_name == "info" %>
        <!-- No title -->
      <% else %>
        How to Get Help
      <% end %>
    </h2>
  </div>
  <ul>
    <li class="call"><i class="fa fa-phone"></i>Call us at 660-543-4283</li>
    <li class="sms"><i class="fa fa-mobile"></i>Text us at 660-230-0011</li>
    <li class="email"><i class="fa fa-envelope-o"></i><%= link_to("Send us an email", general_website_contacts_url) %></li>
    <li class="guides"><i class="fa fa-book"></i><%= link_to("Research Guides and Tutorials", "http://guides.library.ucmo.edu") %></li>
  </ul>
</div>
