<div class="library-hours-block card">
  <div class="card-block">
    <h2 class="card-title">Today's Hours</h2>
  </div>
  <ul>
    <li>
      <%= link_to "JCK Library", library_hours_url, class: "library-hours-label" %>
      <% if LibraryHour.hours_today.andand.hours_display_text %>
        <%= link_to LibraryHour.hours_today.andand.hours_display_text, library_hours_url, class: "library-hours-display pull-right tag tag-default" %>
      <% end %>
    </li>
    <li>
      <i class="fa fa-calendar"></i><%= link_to "View Full Calendar", library_hours_url %>
    </li>
    <li>
      <i class="fa fa-ticket"></i><%= link_to "Upcoming Events At JCKL" %>
    </li>
  </ul>
</div>
