<section class="search" id="jckl-search">
  <!--[if (IE 9) | (!IE) ]><!-->
    <!--<![endif]-->
    <div class="inner container">
      <h2 class="sr-only">Search the Library</h2>
      <!--[if lt IE 9]>
        <form class="legacy-search" action="http://ucmo.summon.serialssolutions.com/search?" method="GET" target="_blank">
          <label>Central Search</label>
          <input class="search-text" type="text" name="s.q" />
          <input class="search-submit" type="submit" value="Search" />
        </form>
        <ul class="search-options">
          <li><a href="http://quest.searchmobius.org/search~S2">Library Catalog</a></li>
          <li><a href="https://cse.google.com/cse/publicurl?cx=008482031334759306552:qu4cl8vnzlk">JCKL Website Search</a></li>
          <li><a href="http://guides.library.ucmo.edu/az.php">Browse Databases</a></li>
          <li><a href="http://wd8cd4tk5m.search.serialssolutions.com/">Journal Directory</a></li>
          <li><a href="https://illiad.ucmo.edu/">ILLiad Interlibrary Loan</a></li>
          <li><a href="http://ucmo.summon.serialssolutions.com/advanced">Advanced Search</a></li>
        </ul>
      <![endif]-->
      <!--[if (IE 9) | (!IE) ]><!-->
      <%= react_component('Search', {prerender: true}) %>

      <% if include_search_options %>
      <div class="search-options clearfix">

        <button class="search-options-toggle btn btn-primary" type="button" data-toggle="collapse" data-target=".search-options-list" aria-expanded="false" aria-controls="search-options-list">
          More Ways to Search
        </button>
        <div class="search-options-list collapse list-group">
          <a class="list-group-item" href="http://quest.searchmobius.org/search~S2">Library Catalog</a>
          <a class="list-group-item" href="https://cse.google.com/cse/publicurl?cx=008482031334759306552:qu4cl8vnzlk">JCKL Website Search</a>
          <a class="list-group-item" href="http://guides.library.ucmo.edu/az.php">Browse Databases</a>
          <a class="list-group-item" href="http://wd8cd4tk5m.search.serialssolutions.com/">Journal Directory</a>
          <a class="list-group-item" href="https://illiad.ucmo.edu/">ILLiad Interlibrary Loan</a>
          <a class="list-group-item" href="http://ucmo.summon.serialssolutions.com/advanced">Advanced Search</a>
        </div>
      </div>
      <% end %>

    <!--<![endif]-->
      </div>
    </section>
