<aside class="sidebar col-md-4" id="jckl-sidebar">
  <div class="inner">
    
    <%= render 'shared/hours' %>
    <%= render 'shared/help' %>
    <%= render 'shared/computers' %>
    
  </div>
</aside>