<% if SpecialMessage.unexpired.present? %>
  <section class="special-messages alert alert-warning">
    <div class="inner container">
      <% SpecialMessage.unexpired.each do |message| %>
        <div class="special-message">
          <div><b><%= message.title %></b></div>
          <div><%=  message.content.html_safe %></div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<% if notice %>
  <section class="special-message alert alert-success">
    <div class="inner container">
      <%= notice.html_safe %>
    </div>
  </section>
<% end %>
<% if alert %>
  <section class="special-message alert alert-danger">
    <div class="inner container">
      <%= alert.html_safe %>
    </div>
  </section>
<% end %>
