<h1>Absence Request <%= @verb %></h1>
<% if @absence.note_required and @absence.note_received != true and !@absence.destroyed? and !@absence.new_record? %>
  <p><b>A doctor's note is required for this absence.</b></p>
<% end %>
<% if !@absence.destroyed? and !@absence.new_record? %>
  <p>
    <%= link_to "Edit or Approve This Absence", edit_employee_absence_url(employee_name: @absence.employee.url_slug, id: @absence.id) %>
  </p>
<% end %>
<table>
  <tr>
    <td class="padded-right">Time Submitted:</td>
    <td><%= @absence.created_at.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Submitted By:</td>
    <td><%= @absence.submitter.first_last %></td>
  </tr>
  <tr>
    <td class="padded-right">Employee Name:</td>
    <td><%= @absence.employee.first_last %></td>
  </tr>
  <tr>
    <td class="padded-right">Absence Type:</td>
    <td><%= @absence.absence_type.andand.display_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Absence Start:</td>
    <td><%= @absence.start_date.to_formatted_s(:long) %></td>
  </tr>
  <tr>
    <td class="padded-right">Absence End:</td>
    <td><%= @absence.end_date.to_formatted_s(:long) %></td>
  </tr>
  <tr>
    <td class="padded-right">Absence Schedule</td>
    <td><%= @absence.schedule %></td>
  </tr>
  <tr>
    <td class="padded-right">Leave Time Used:</td>
    <td><%= @absence.duration %></td>
  </tr>
  <tr>
    <td class="padded-right">Professional Funding:</td>
    <td><%= @absence.professional_funding %></td>
  </tr>
  <tr>
    <td class="padded-right">Additional Information:</td>
    <td><%= @absence.background_information %></td>
  </tr>
</table>
