<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @action %> Errors</h1>
    <p><%= Time.now.to_s(:db) %></p>
    <% @error_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </body>
</html>
