<div class="contact-form">
  <% if @contact_form.errors.any? %>
    <div class="form-errors alert alert-danger">
      <h2>Please correct the following errors:</h2>
      <ul>
        <% @contact_form.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= semantic_form_for(@contact_form, url: website_contacts_url ) do |f| %>
    <%= f.inputs do %>
      <%= f.input :contact_name, as: :string, label: "Your Name" %>
      <%= f.input :contact_email, as: :email, label: "Your Email Address" %>
      <% if action_name == "general" %>
        <%= f.input :topic, as: :select, label: "Topic of This Email",
        collection: {"General Library Questions" => "general", "Reference and Research Assistance" => "reference", "Comments and Suggestions" => "comments"} %>
      <% end %>
      <%= f.input :subject, as: :string %>
      <%= f.input :message, as: :text, input_html: { rows: "4" } %>
      <%= hidden_field_tag 'employee', @employee.andand.id %>
      <%= hidden_field_tag 'office', @office.andand.id %>
      <% #This is a honeypot for detecting spam %>
      <div class="honeypot">
        <%= label_tag :content %>
        <%= text_field_tag :content, nil %>
      </div>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, as: :button, label: "Submit", button_html: {class: 'btn btn-secondary'} %>
    <% end %>
  <% end %>
</div>
