<h1><%= @page_title %></h1>
<% if @absences.blank? %>
  <p>There are no absences today.</p>
<% else %>
  <table class="absence-form-list table table-striped table-condensed">
    <thead>
      <th>Employee</th>
      <th>Date of Absence</th>
      <th>Schedule</th>
    </thead>
    <% @absences.each do |absence| %>
      <tr class="absence">
        <td><%= absence.employee.first_last %></td>
        <td>
          <%=
          if absence.start_date != absence.end_date
            absence.start_date.to_s + " to " + absence.end_date.to_s
          else
            absence.start_date.to_s
          end
        %>
        </td>
        <td>
          <%= absence.schedule %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ucmo.edu_g3v7r53k657u2ajn6d2v2j0j94%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
