<h1><%= @page_title %></h1>
<h2>Leave Time Used Since <%= Chronic.parse("last july 1").to_date %></h2>
<table class="table table-sm table-striped">
  <tr>
    <td>Sick Leave - Self</td>
    <td class="absence-sick-leave-self-used" class="absence-sick-leave-family-used"><%= @employee.leave_time_used( "sickself" ) %></td>
  </tr>
  <tr>
    <td>Sick Leave - Family</td>
    <td class="absence-sick-leave-family-used"><%= @employee.leave_time_used( "sickfamily" ) %></td>
  </tr>
  <tr>
    <td>Vacation Leave</td>
    <td class="absence-vacation-used"><%= @employee.leave_time_used( "vacation" ) %></td>
  </tr>
</table>
<h2>Absences</h2>
<% if @absences.blank? %>
  <p>There are no absences to display.</p>
<% else %>
  <table class="employee-absences-table datatable table table-striped table-sm">
    <thead>
      <th>Date</th>
      <th>Duration</th>
      <th>Type of Absence</th>
      <th>Additional Information</th>
      <th>Approvals</th>
      <th>Actions</th>
    </thead>
    <% @absences.each do |absence| %>
      <tr class="absence">
        <td class="absence-date-range">
          <%= absence.date_range %>
        </td>
        <td><%= absence.duration %></td>
        <td class="absence-type"><%= absence.absence_type.andand.display_name %></td>
        <td class="absence-additional-info"><%= absence.background_information %></td>
        <td class="absence-approvals">
          <div>
            <% if absence.approved %>
              <i class="fa fa-check"></i> Approved
          <% elsif absence.approved.nil? %>
              <i class="fa fa-exclamation-triangle"></i> Approval Pending
          <% elsif absence.approved == false %>
              <i class="fa fa-times"></i> Rejected
          <% end %>
          </div>
          <div>
            <% if absence.note_required and absence.note_received %>
              <i class="fa fa-check"></i> Note Received
          <% elsif absence.note_required and absence.note_received != true %>
              <i class="fa fa-exclamation-triangle"></i> Note Pending
          <% end %>
          </div>
        </td>
        <td class="absence-actions">
          <div class="btn-group btn-group-sm">
            <%= link_to("View", employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-secondary btn-sm") %>
            <%= link_to("Edit", edit_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-secondary btn-sm") %>
            <%= link_to("Delete", employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-secondary btn-sm confirmation-dialog",
                      method: "delete",
                      data: {confirm: "Are you sure you want to delete this request?"} ) %>
          </div>
          <% if current_user.employee.andand.can_approve_absences_of?( @employee ) %>
            <div class="absence-approval-actions btn-group btn-group-sm">
              <%= if absence.approved != true then
                    link_to("Approve",
                      approve_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      method: :patch, class: "btn btn-secondary btn-sm")
                  end %>
              <%= if absence.approved != false then
                    link_to("Reject",
                      reject_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      method: :patch, class: "btn btn-secondary btn-sm")
                  end %>
              <%= if absence.note_required and absence.note_received != true then
                    link_to("Mark Note As Received",
                      receive_note_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      method: :patch, class: "btn btn-default btn-sm")
                  end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
