<h1><%= @page_title %></h1>
<table class="table table-condensed table-striped">
  <tr>
    <td>Employee</td>
    <td><%= @absence.employee.first_last  %></td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td><%= @absence.start_date  %></td>
  </tr>
  <tr>
    <td>End Date</td>
    <td><%= @absence.end_date  %></td>
  </tr>
  <tr>
    <td>Duration</td>
    <td><%= @absence.duration %></td>
  </tr>
  <tr>
    <td>Schedule</td>
    <td><%= @absence.schedule  %></td>
  </tr>
  <tr>
    <td>Absence Type</td>
    <td><%= @absence.absence_type.andand.display_name  %></td>
  </tr>
  <tr>
    <td>Background Information</td>
    <td><%= @absence.background_information  %></td>
  </tr>
  <tr>
    <td>Approved?</td>
    <td>
      <% if @absence.approved %>
        <i class="fa fa-check"></i> Approved
      <% elsif @absence.approved.nil? %>
        <i class="fa fa-exclamation-triangle"></i> Awaiting Approval
      <% elsif @absence.approved == false %>
        <i class="fa fa-times"></i> Rejected
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Doctor's Note</td>
    <td>
      <% if @absence.note_required and @absence.note_received %>
        <i class="fa fa-check"></i> Note Received
      <% elsif @absence.note_required and @absence.note_received != true %>
        <i class="fa fa-exclamation-triangle"></i> Awaiting Note
      <% else %>
        N/A
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Submitted By</td>
    <td><%= @absence.submitter.first_last %></td>
  </tr>
  <tr>
    <td>Submitted At</td>
    <td><%= @absence.created_at.to_formatted_s( :long_12hr ) %></td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= @absence.updated_at.to_formatted_s( :long_12hr ) %></td>
  </tr>
  <tr>
    <td>Actions</td>
    <td>
      <div class="btn-group btn-group-sm">
        <%= link_to "Edit", edit_employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                  class: "btn btn-secondary btn-sm" %>
        <%= link_to "Delete", employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                  class: "btn btn-secondary btn-sm confirmation-dialog",
                  method: "delete",
                  data: {confirm: "Are you sure you want to delete this request?"} %>
      </div>
      <% if current_user.employee.can_approve_absences_of?( @absence.employee ) or true %>
        <div class="btn-group btn-group-sm">
          <%= if @absence.approved != true then
            link_to "Approve",
              approve_employee_absence_url( id: @absence.id ),
              method: :patch, class: "btn btn-secondary btn-sm"
          end %>
          <%= if @absence.approved != false then
            link_to "Reject",
              reject_employee_absence_url( id: @absence.id ),
              method: :patch, class: "btn btn-secondary btn-sm"
          end %>
          <% if @absence.note_required and @absence.note_received == false %>
            <%= link_to "Mark Note As Received",
                  receive_note_employee_absence_url( :id => @absence.id ),
                  method: :patch, class: "btn btn-secondary btn-sm"  %>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
