<h1><%= @page_title %></h1>
<p>Upload a barcode file to update inventory. Files should be plain text with one barcode per line.</p>
<%= form_tag({action: :create}, multipart: true) do %>
  <div class="form-group">
    <%= file_field_tag(:barcodes, accept: 'text/plain', class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= label_tag(:notes, 'Notes') %>
    <%= text_field_tag(:notes, nil, class: 'form-control') %>
  </div>
  <%= submit_tag("Upload", class: 'btn btn-secondary') %>
<% end %>
