@import "variables";

.controller_absences {
  .employee-absences-table {
    border-bottom: 1px solid $gray_light;

    .btn-group {
      margin-bottom: 10px;
    }
  }

  .absence-date-range {
    width: 18%;
  }

  .absence-type {
    width: 18%;
  }

  .absence-approvals {
    width: 18%;
  }

  .absence-actions {
    width: 18%;
  }

  .fa-check {
    color: $success;
  }

  .fa-exclamation-triangle {
    color: $warning;
  }

  .fa-times {
    color: $danger;
  }

  .absence-submit-for-subordinate-links {
    margin-bottom: 40px;
  }

}
