//Styles for the CLF pages
@import "variables";

.clf-shopping-cart-top {
  margin-bottom: 20px;
}

.clf-shopping-cart .clf-book {
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:first-child {
    padding-top: 10px;
  }
}

.clf-main-cart .clf-go-to-cart {
  display: none;
}

.clf-main-cart .clf-shopping-cart-top table {
  margin-top: 10px;
}

.clf-sidebar-cart {
  .clf-check-out {
    display: none;
  }

  .clf-book-image {
    display: none;
  }

  .col-md-10 {
    width: 100% !important;
    padding: 0 !important;
  }

  .clf-book-add-to-cart {
    display: none;
  }
}

.clf--browse {
  .clf-sidebar-cart .clf-continue-browsing {
    display: none;
  }
}

.clf-book-add-to-cart {
  button,
  fieldset,
  input {
    display: inline-block;
  }

  .form-control {
    max-width: 100px !important;
  }
}

.clf-browse {
  padding: 0 !important;

  .dropdown-menu {
    padding: 5px;
  }
}

.clf-author-books {
  padding: 0 !important;
}

.clf-book {
  padding: 10px 0;

  .clf-book-image img {
    max-height: 130px;
    max-width: 100%;
  }

  .clf-book-summary {
    margin-top: 10px;

    .more-link {
      height: auto;
      display: inline-block;
    }
  }
}
