@import "variables";

.controller_contact.action_info {
  .help-block {
    border: none;
    font-size: 1.25rem;
    line-height: 2.5rem;

    .card-block {
      padding: 0;
    }

    h2 {
      margin: 0;
      padding: 0;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    .fa {
      display: inline-block;
      width: 30px;
      margin-right: 10px;
      font-size: 1rem;
    }

  }
}
