//Styles for DSpace
@import "variables";

.dspace {
  .trail-wrapper .breadcrumb {
    margin-top: 15px;
  }

  h2 {
    margin: 20 0 10px !important;
  }

  h2.first-page-header {
    margin: 0 0 30px !important;
  }

  #ds-search-option {
    margin-bottom: 40px;
  }

  #ds-search-form .radio {
    display: none;
  }

  .community-browser-wrapper p {
    margin-bottom: 10px !important;
  }

  #sidebar .list-group {
    margin-bottom: 30px;
  }

  #aspect_eperson_LDAPLogin_div_login input {
    margin-bottom: 20px;
  }
}
