//Layout styles specific to EZproxy
@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/list-group";

.ejs {
  .SS_EJPPreContentHorizontalRules {
    display: none;
  }

  .SS_SearchToolsGroup {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;

    br {
      display: none;
    }

    div {
      margin-bottom: 15px;
    }
  }

  .SS_HoldingsList {
    @extend .list-group;
    margin-top: 10px;

    .SS_Holding {
      @extend .list-group-item;
    }
  }

  .SS_AtoZLinks,
  .SS_CategorySelector,
  .SS_TitleSearchForm {
    .SS_ToolLabels {
      display: block;
    }

    input,
    select {
      height: 40px;
    }
  }

  .SS_ToolLabels {
    display: none;
  }

  .SS_CopyRightStatement {
    display: none;
  }

  .SS_DataBaseIndex {
    @extend .list-group;

    > li {
      @extend .list-group-item;
    }
  }

  .SS_TOULink {
    margin-left: 10px;
  }

  .SS_TOUHeader {
    margin-right: 10px;
  }

  .SS_LicenseHeader {
    margin-right: 10px;
  }

  .content-body > strong {
    margin-bottom: 10px;
    display: inline-block;
  }

  .CellSpacer {
    display: none;
  }

  .url {
    margin-top: 10px;

    a {
      margin-right: 10px;
    }

    br {
      display: none;
    }
  }

  .CandyWrapper {
    margin-bottom: 20px;

    #RefinerLink0,
    #RefinerLink1,
    #RefinerLink3 {
      a {
        display: none;
      }
    }

    #RefinerLink2 br {
      display: none;
    }

    .ContentHeading {
      padding-top: 20px;
    }

    .WideNoBorder.PadEastWest {
      tr {
        td:nth-child(1) {
          width: 40%;
        }

        td:nth-child(2) {
          width: 0;
        }

        td:nth-child(3) {
          width: 20%;
        }

        td:nth-child(4) {
          width: 40%;
        }
      }
    }

    .SS_ALTermsOfUse {
      display: inline-block;
      margin-top: 20px;
    }

    .RefinerForm {
      .NoteFlag {
        margin-right: 10px;
      }

      td {
        padding: 8px 8px 0 0;
      }
    }

  }

  .CitationRefiner {
    .SS_NoResults {
      display: none;
    }
  }
}
