@import "variables";

.controller_employees {
  .employee-directory-menu {
    margin-bottom: 20px;

    .dropdown-header {
      margin: 10px 0;
    }
  }
  @include all_small_screens {
    .employee-table {
      display: none;
    }
  }
  @include not_small_screen {
    .employee-mobile-list {
      display: none;
    }
  }
}
