@import "variables";

.formtastic {
  .select,
  .stringish,
  .text {
    .form-wrapper {
      display: block;
    }

    .form-control {
      display: inline-block;
      max-width: 500px;

      &.error {
        border: 2px solid $ucm_red;
      }
    }

    .help-block {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .form-actions {
    margin-top: 20px;
  }

  .honeypot {
    display: none;
  }

  label {
    font-weight: bold;
  }
}

form.btn {
  display: inline-block;

  > div {
    display: inline-block;
  }

  button,
  input[type=button],
  input[type=submit] {
    background: none;
    border: none;
    padding: 0;
  }
}

form .help-block {
  color: red;
}

.form-errors {
  h2 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

form .special-message {
  display: inline-block;
  margin-left: 10px;
}

form hr {
  margin: 50px 0;
}

.AnyTime-pkr * {
  font-size: 14px;
}

.AnyTime-hdr {
  clear: both;

  &:after,
  &:before {
    clear: both;
  }
  padding: 5px 0;
}
