@import "variables";

body,
html {
  width: 100%;
  overflow: visible !important;
  font-family: "Open Sans","Helvetica Neue",Helvetia,Arial,sans-serif;
}

#jckl-breadcrumb {
  padding: 0;
  background: none;
}

.content {
  padding: 20px 0;

  > .inner.container {
    position: relative;
  }

  > .container-fluid {
    padding: 0 20px;
  }

}

.full_screen .content {
  padding: 10px 0 0;
}

.no_search_no_sidebar .content .inner {
  padding-top: 20px;
}

.content {
  min-height: $content_min_height;

  h1 {
    margin: 0 0 15px;
    padding: 0;
  }

  h2 {
    margin-top: 30px;
  }

  h3,
  h4 {
    margin-top: 20px;
  }

  h1 .small {
    color: lighten( $gray_medium_dark, 5% );
  }

  hr {
    border-top: 1px solid darken( $gray_light, 10% );
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;

    &.list-group {
      padding-left: 0;
    }
  }

  .content-body.col-md-8 {
    min-height: 800px;
  }

  .box-shadow {
    padding: 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
}

.content > .container-fluid {
  padding: 0 15px;
}

.content > .container .content-body {
  padding: 20px 15px;
}

.content .box-shadow {
  margin-top: 30px;
  margin-bottom: 50px;
}

.content .nav-pills {
  .nav-link.active {
    background-color: $darkest_blue;
  }
}
