@import "variables";

#jckl-header {
  padding: 0;
  background-color: black;

  .inner {
    padding: 0;
    position: relative;
  }
}

#jckl-header .jckl-logo img {
  max-width: 100%;
}

#jckl-header .nav-menus {
  position: static;
}

#jckl-header .ucm-links {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 8px 8px;
  background-color: $gray_medium_dark;

  .dropdown-toggle {
    color: white;
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .dropdown-menu {
    width: 100%;
    padding: 15px;
  }

}

#jckl-header .header-navigation-menu {
  position: absolute;
  bottom: 0;
  right: 0;

  .container {
    padding: 0;
  }

  .nav-item {
    position: static;

    &.open .nav-link {
      background-color: $off_white;
      color: $text_color;
    }
  }

  .nav-link {
    padding: 10px 30px;
    color: white;
    font-size: 1.05rem;

    &:after {
      margin-left: 10px;
    }

  }

  .dropdown-menu {
    position: absolute;
    left: -33%;
    right: 0;
    top: 40px;
    padding: 20px;
    column-count: 3;
    border-radius: 0;
    border-top: 0;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.175);
    background-color: $off_white;

  }

  .menu-section {
    display: inline-block;
    column-span: none;
  }

  .menu-section header {
    margin: 10px 20px 10px 0;
    padding-bottom: 4px;
    padding-left: 8px;
    border-bottom: 1px solid $line_border;
    color: $text_color;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .dropdown-item {
    padding: 0 0 0 8px;
    margin-bottom: 8px;
  }

}
