@import "variables";

.ie5,
.ie6,
.ie7,
.ie8 {
  .container {
    width: 960px !important;
  }

  #jckl-header .header-navigation-menu {
    .container-fluid {
      position: relative;
    }

    .header-navigation-menu-link {
      display: block;
      position: absolute;
      right: 0;
      bottom: 10px;
      color: white;
      font-size: 1.1rem;
    }
  }

  .content-body.col-md-8 {
    width: 550px;
  }

  .content-body.col-md-12 {
    width: 100%;
  }

  #jckl-sidebar {
    width: 300px;
  }

  .search-options {
    margin-top: 15px;
    padding: 5px 10px;

    > li {
      display: inline;
      margin-right: 20px;
      background: none !important;
      border: 0 !important;

      a {
        background: none !important;
        border: 0 !important;
      }
    }
  }

  .legacy-search {
    font-size: 20px;

    label {
      background-color: white;
      padding: 3px 8px;
    }

    .search-text {
      height: 36px;
      width: 600px;
      padding-left: 10px;
    }
  }

  .three-col-display > div {
    width: 300px;
  }

  .database-a-z ul li {
    display: inline;
  }

  .library-hours-page {
    .library-hours-list > ul {
      margin: 0;
    }

    .library-hours-entry {
      list-style-type: none;
    }
  }

  #jckl-chat-popout {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* IE6,IE7 */
    -ms-filter:  "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    /* IE8 */
  }

  #jckl-footer {
    .footer-column {
      width: 210px;

      > ul {
        margin: 0;
      }
    }

    .footer-bottom {
      clear: both;
    }
  }

  .illiad {
    .illiad-menu.sidebar {
      width: 240px;
      float: left;
    }

    .content .col-md-9 {
      width: 690px;
      float: left;
    }

    .content .col-md-8 {
      float: left;
      width: 610px;
    }

    .content .sidebar.col-md-4 {
      float: left;
      width: 290px;
    }
  }

}
