//Layout styles specific to ILLiad
@import "variables";
@import "bootstrap/mixins";

.illiad {
  .login-form {
    .login-help a {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .default-table > table {
    .row-header th,
    .row-headings th {
      text-align: center;
      padding: 8px 0;
    }

    td {
      padding: 5px;
    }

    tr:first-child td {
      padding-top: 8px;
    }

    tr:last-child td {
      padding-bottom: 8px;
    }

  }

  .illiad-giant-buttons {
    a {
      display: inline-block;
      width: 100%;
    }
    @include not_small_screen {
      a {
        min-height: 280px;
      }
    }

    .icon:after {
      font-family: "FontAwesome";
      font-size: 150px;
    }

    .illiad-request-photocopy .icon:after {
      content: "\f0f6";
    }

    .illiad-request-book .icon:after {
      content: "\f02d";
    }

    .illiad-download-items .icon:after {
      content: "\f019";
    }
  }

  .statusError,
  .validationError {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
    padding: 10px;
  }

  .statusNormal {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
    padding: 10px;
  }

  .statusError,
  .statusNormal {
    margin-bottom: 20px;
    display: block;
  }

  .alertNone {
    display: none;
  }

  .alertDeliveryLocation,
  .alertStatus,
  .alertSystem,
  .alertUser {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  }
}
