@import "variables";

.controller_index.action_index {
  #jckl-search {
    padding: 60px 0 40px;
    background-image: image-url("search-bg.gif");

    .search-wrapper {

      $height: 60px;
      margin-bottom: 15px;

      .search-type-button {
        height: $height !important;
      }

      .search-text-field {
        height: $height !important;
      }

      .search-submit-button {
        height: $height !important;
        width: 70px;

        &:after {
          font-size: 2.4rem;
          top: 5px;
        }
      }

      .search-options {
        display: block;
        //padding: 10px 20px;
        opacity: .9;

        .navbar {
          margin-bottom: 0;
        }
      }

    }
  }

  .index-chat {
    text-align: center;
    padding: 20px 0;
    color: white;
    background-color: $charcoal;
    font-size: 1.75rem;
    @include all_small_screens {
      font-size: 1.2rem;
    }

    button {
      @include red_button;
      position: relative;
      margin-top: 10px;
      font-size: 1.25rem !important;
      @include all_small_screens {
        padding: 8px 15px;
      }
    }
  }

  .index-links {
    padding: 40px 0;
    color: $text_color;
    background-color: darken($gray_light, 10%);

    .card {
      padding: 20px;
      border-radius: $border_radius;
      background-color: lighten($gray_light, 5%);
    }

    .card-block {
      padding: 0;
    }

    h2 {
      margin-bottom: 20px;
      color: $text_color;
      font-size: 1.3rem;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 8px;
      list-style-type: none;
    }

    a,
    a:hover {
      color: $text_color;
    }

    .fa {
      display: inline-block;
      width: 30px;
      margin-right: 10px;
      font-size: 1rem;

      &.fa-calendar,
      &.fa-guides,
      &.fa-laptop,
      &.fa-print,
      &.fa-users {
        font-size: 1.125rem;
      }

      &.fa-unlock-alt {
        font-size: 1.25rem;
      }

      &.fa-mobile {
        font-size: 1.5rem;
      }
    }

    .tag {
      padding: 3px 7px;
      background-color: $darkest_blue;
      color: white !important;
    }

  }

  .index-news {
    padding: 30px 0 0;
    border-bottom: 20px solid darken($ucm_red, 10%);
    background-color: $ucm_red;

    h2 {
      color: white;
      margin-bottom: 30px;
    }

    .card {
      background-color: $off_white;
    }

    .blank-card {
      visibility: hidden;
    }

    .news-image {
      height: 200px;
      overflow-y: hidden;
    }

    .news-image img {
      width: 100%;
    }

    .social-media-icons {
      margin-top: 40px;
      padding: 10px;
      text-align: center;
      border-top: 1px solid darken($ucm_red, 3%);
      border-radius: 0;
      background: none;

      .fa {
        color: white;
        margin-right: 20px;
        font-size: 30px;
      }
    }
  }

  .index-new-books {
    padding: 30px 0;
    border-bottom: 20px solid darken($charcoal, 3%);
    background-color: $charcoal;

    h2 {
      margin-bottom: 30px;
      color: white;
    }

    .new-books-view-more {
      display: block;
      margin: 20px auto auto;
      width: 300px;
      background-color: lighten($charcoal, 18%);
      border: none;
      color: white !important;

      &.active,
      &:focus,
      &:hover {
        background-color: lighten($charcoal, 13%);
      }
    }

    .slick-slider {
      margin-bottom: 50px;
    }

    .slick-arrow {
      top: 40%;
    }

    .slick-arrow:before {
      color: white;
      font-size: 50px;
      opacity: .3;
    }

    .slick-prev {
      left: -60px;
    }

    .slick-next {
      right: -60px;
    }
  }
}
