//Layout styles specific to Springshare products
@import "variables";

//LibGuides

#s-lg-guide-header,
#s-lg-guide-main {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

#s-lib-bc-list {

  margin: 0 !important;

  li {
    margin: 0 !important;
  }

  li:before {
    padding: 0 !important;
  }
}

#s-lg-guide-header {
  padding-top: 20px;
}

#s-lg-guide-header-info h1 {
  margin: 20px 0 15px !important;

  .small {
    margin-left: 15px;
  }
}

.s-lg-guide-body,
.s-lib-public-body {
  padding: 0;

  &.libguides-edit-mode {
    padding-top: 60px;
  }

  .dropdown-toggle:after {
    content: "";
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  #s-lg-guide-header-search {
    display: none;
  }

  .header .navbar {
    .dropdown-toggle:after {
      font-family: "FontAwesome";
      content: "\f0d7" !important;
      margin-left: 10px;
      font-size: initial;
    }
  }

  .libguides-anchor {
    width: 0;
    height: 0;
    font-size: 0;
  }

  .s-lib-box-content {
    padding: 20px;

    ol,
    ul {
      padding-left: 10px;
    }
  }

}

.s-lib-cmd-bar {

  min-height: 0;

  .navbar-brand {
    height: auto !important;
  }

  .navbar-nav > li {

    margin: 0;

    > a {
      padding: 11px 15px;
    }
  }

  #acctlinks > li > a {
    padding: 0 10px;
  }
}

.libguides-template-enhanced-tabs {
  background-color: white !important;

  .libguides-heading-wrapper {
    margin-bottom: 20px;
    padding: 20px 10px 0;
    background-color: $gray_light;

    #s-lg-guide-header,
    #s-lg-tabs-container-custom {
      padding: 0 !important;
    }

    #s-lg-tabs-container-custom {
      margin-top: 15px;
    }

    .nav-pills > li {
      margin: 0 5px 0 0;
      background-color: $darkest_blue;
      color: white;
      border-radius: 6px 6px 0 0;

      &:hover {
        background-color: lighten($darkest_blue, 10%);
      }

      &.active {
        background-color: white;
        color: $text_color;
        font-weight: bold;
        box-shadow: -5px -3px $line_border_light;
      }

      a {
        color: inherit;
        background-color: inherit;
        border-radius: inherit;
      }

      &.dropdown {
        .s-lg-tab-drop {
          display: none;
        }

        .s-lg-tab-top-link {
          float: none !important;
        }

        .dropdown-toggle:after {
          font-family: "FontAwesome";
          content: "\f0d7" !important;
          margin-left: 10px;
          font-size: initial;
        }

        .dropdown-menu a {
          color: $text_color;
        }

      }
    }
    @include all_small_screens {
      .nav-pills {
        margin-bottom: 5px;
      }

      .nav-pills > li {
        display: block;
        float: none;
        margin-bottom: 4px;
        border-radius: 6px;
        background-color: white;
        color: $darkest_blue;

        &:hover {
          color: white;

        }

        &.active {
          background-color: $darkest_blue;
          color: white;
        }

      }
    }
  }

  #s-lg-guide-main {
    padding: 0 !important;
    min-height: 200px;
  }

  .libguides-footer-wrapper {
    background-color: $gray_light;
    padding: 10px;

    #s-lib-footer-public {
      background-color: inherit;
      border: 0;
      padding: 0;

      li {
        margin-bottom: 0;
      }

      .s-lg-text-greyout {
        color: inherit;
      }

      #s-lg-guide-header-meta {
        margin-left: 0;
      }
    }
  }

  #s-lg-guide-tabs-title-bar {
    display: none;
    padding: 0;
    margin-bottom: 20px;
  }

  &.s-lg-guide-body.libguides-edit-mode {
    padding-top: 40px;

    .s-lib-cmd-bar {
      margin-bottom: 0;
    }

    #s-lg-guide-tabs-title-bar {
      display: block;
    }

  }
}

.s-lg-az-result-share {
  display: none !important;
}

.libguides-single-page-no-nav {
  .s-lib-box-content {
    padding: 0;
  }

  .s-lib-box-title {
    display: none;
  }

  h2 {
    margin: 40px 0 20px !important;
  }

  h3 {
    margin: 30px 0 15px !important;
  }

}
/*
.libguides-breadcrumbs .breadcrumb{
    padding: 0 0 0 10px;
}

#s-lg-guide-header{
    padding: 0;

    .libguides-page-admin-controls{

        .navbar{
            .navbar-collapse{
                padding-left: 0;
            }

            a{
                padding: 0 !important;
                margin: 0;
                margin-top: 8px;
            }
        }

        .dropdown{
            margin-right: 20px;
        }

        .dropdown-menu{
            padding: 5px 10px;
        }

    }

    .libguides-guide-admin-tags-subjects{

    }

    #s-lg-guide-header-attributes{
        margin-top: 0;
    }

    .libguides-guide-admin-controls{
        float: right;
    }

    .libguides-guide-admin-controls .btn-toolbar{
        margin-top: 10px;
    }

    .libguides-guide-title{
        padding-bottom: 5px;
        padding-left: 10px;
        margin: 10px 0 0 0;
    }
}

.libguides-navigation{
    .libguides-guide-navigation{

        .navbar{
            margin-bottom: 0;
            min-height: 0;
            padding: 10px 0;
        }

        .navbar-brand{
            padding: 5px 10px;
            height: auto;
        }

        .nav > li{
            margin: 0;
            margin-right: 10px;

            a{
                padding: 5px 10px;
            }
        }

        .s-lg-subtab-ul{
            display: none;
        }

        .s-lg-boxnav{
            display: none;
        }

        li.active a{
            cursor: default;
        }
    }

    .libguides-page-navigation{

        ul{
            min-height: 40px;
            padding: 0;
            margin: 0;
        }

        li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 15px;
            margin-right: 5px;
        }



    }
}

.libguides-breadcrumbs{
    padding: 15px 0 0 10px;

    ol, ol li{
        margin: 0 !important;
    }
}

.libguides-guide-content{

    padding: 0 0 20px 0;

    &.libguides-guide-right-sidebar .content-column-wrapper{
        padding-right: 30px;

        .content-column{
            margin-right: 20px;
            padding-left: 0;
        }
    }

    #s-lg-page-name{
        display: block;
        margin: 20px 0px 6px 0px;
        padding: 0;
    }

    #s-lg-guide-main{
        padding: 0;
        margin-top: 15px;
    }

    h2.s-lib-box-title{
        padding: 6px 0;
    }

    .s-lib-box-content{
        padding: 0;

        ul{
            padding-left: 20px;
        }
    }

    .s-lg-box-footer{
        @extend .clearfix;
    }

    .sidebar-column{
        padding-top: 20px;

        .margin-top-med{
            margin-top: 0px !important;
        }

        h2{
            margin: 16px 0 0 0;
            padding: 0 0 5px 5px;
        }

        .s-lib-profile-div{
            margin-top: 15px;
        }

        .s-lib-box-content{
            ul{
                margin-top: 0;
            }
        }
    }

    .s-lib-footer, .s-lib-footer-public{

        padding-top: 10px;
        margin-top: 10px;

        ul{
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        li{
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;
        }
    }
}
*/

//LibCal

body.s-lc-public {
  @include all_small_screens {
    .s-lc-rm-rn {
      width: 130px !important;
    }
  }
}
