@import "variables";

.room-bookings-availability-filter {
  margin-bottom: 20px;
  padding: 10px;
  @extend %shadow_outline;

  label {
    margin-right: 10px;
  }

  .form-control {
    margin-right: 20px;
  }
}

.room-bookings-availability-message {
  margin-top: 10px;
}

.room-bookings-room-list {
  .false,
  .notice,
  .true {
    &:before {
      font-family: "FontAwesome";
    }
  }

  .true:before {
    content: "\f046";
    color: green;
  }

  .false:before {
    content: "\f05e";
    color: darken(red, 20%);
  }

  .notice:before {
    content: "\f071";
    color: darken(yellow, 10%);
  }

  padding-right: 0;

  ul {
    margin-bottom: 0;
  }

  .room > .row:first-child {
    margin-bottom: 20px;
  }

  .room-description {
    margin-bottom: 10px;
  }

  .room-image {
    max-width: 100%;
    max-height: 300px;
  }

  .room-booking-buttons .btn {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  .room-booking-buttons .btn {
    color: white;

    &.room-calendar-link {
      @include darkest_blue_button;
    }

    &.room-map {
      @include dark_blue_button;
    }

    &.room-book {
      @include blue_green_button;
    }
  }

}

.room-bookings-calendar-modal {
  .modal-dialog {
    max-width: 1170px;
    width: 100%;
  }

  h4 {
    color: $text_color;
  }
}

.room-bookings-iframe {
  width: 100%;
  height: 600px;
}
