@import "variables";

.controller_new_books.action_index {
  .new-books-navigation .dropdown {
    display: inline-block;
    margin-right: 10px;

    .dropdown-menu {
      max-height: 400px;
      overflow-y: scroll;
    }
  }

  .results-count {
    font-style: italic;
    margin-top: 10px;
  }

  .pagination {
    padding: 0;
  }

  .new-book-image img {
    max-width: 100%;
  }

  .new-book-summary {
    max-height: 50px;
    overflow-y: hidden;
  }
}
