/*
    Styling for the search bar element
*/
@import "variables";

#jckl-search {
  padding: 15px 0;
  position: relative;

  .search-wrapper {
    clear: both;
    position: relative;
    border-radius: $border_radius;
    box-shadow: 0 0 2px 2px $ucm_red;

    &.search-has-focus {
      box-shadow: 0 0 4px 4px $ucm_red;
    }

  }

  .search-type-button {
    outline: none !important;
    border: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: white;
  }

  .search-type-list {
    padding: 8px;

    a {
      padding: 0 !important;
    }
  }

  .search-text-field {
    border: none !important;
    outline: none !important;
    border-left: 1px solid #ccc !important;
  }

  .search-submit-button {
    height: 50px;
    width: 50px;
    background-color: $ucm_red !important;
    color: white !important;
    border: none !important;
    outline: none !important;

    &:hover {
      background-color: darken($ucm_red, 2%);
    }

    &:after {
      content: "\f002";
      font-family: "FontAwesome";
      font-size: 1.8rem;
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
    }
  }

  .search-options {
    position: relative;
    margin-top: 20px;
    background-color: $charcoal;
    color: white;
    border-radius: $border_radius;
    border: 1px solid black;

    .search-options-toggle {
      display: block;
      margin: 0;
      height: 40px;
      width: 100%;
      border: 0;
      background-color: transparent;
      font-size: 1.1rem;
      @include not_small_screen {
        display: none;
      }
    }

    .search-options-list {
      @include not_small_screen {
        display: block;
        height: auto;
      }

      a {
        border: 1px solid $charcoal;
        color: $off_white;
        background-color: lighten($charcoal, 5%);
        text-decoration: none;

        &:hover {
          color: darken($off_white, 10%);
        }
        @include not_small_screen {
          float: left;
          margin-left: 20px;
          padding: 6px 0;
          border: none;
          background-color: transparent;
          font-size: .87rem;

          &:first-child {
            margin-left: 30px;
          }
        }

        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

}
