@import "variables";

.breadcrumb {
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 0;
}

.shared-block {
  ul {
    position: relative;
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5rem;
  }

  h3 {
    margin: 0 0 20px;
  }

  &.library-hours-block {
    h3:before {
      font-family: "FontAwesome";
      font-size: 1.125rem;
      content: "\f017";
      margin-right: 10px;
    }

    .library-hours-display {
      min-width: 125px;
    }

    .library-hours-view-calendar {
      display: block;
      margin-top: 20px;
    }

    .library-hours-view-calendar:before {
      font-family: "FontAwesome";
      font-size: 1.125rem;
      content: "\f073";
      margin-right: 10px;
    }
    @include all_small_screens {
      .library-hours-list .library-hours-label {
        display: inline-block;
        width: 33%;
      }
    }
  }

  &.help-block {
    li {
      margin-left: 30px;
    }

    .chat:before {
      font-family: "FontAwesome";
      font-size: 1rem;
      content: "\f086";
      position: absolute;
      left: 0;
    }

    .call:before {
      font-family: "FontAwesome";
      font-size: 1rem;
      content: "\f095";
      position: absolute;
      left: 0;
    }

    .sms:before {
      font-family: "FontAwesome";
      font-size: 1.5rem;
      content: "\f10b";
      position: absolute;
      left: 2px;
    }

    .email:before {
      font-family: "FontAwesome";
      font-size: 1rem;
      content: "\f003";
      position: absolute;
      left: 0;
    }

    .faqs:before {
      font-family: "FontAwesome";
      font-size: 1.125rem;
      content: "\f059";
      position: absolute;
      left: 0;
    }

    .guides:before {
      font-family: "FontAwesome";
      font-size: 1.125rem;
      content: "\f02d";
      position: absolute;
      left: 0;
    }
  }

  &.computers-block {
    li {
      margin-left: 30px;
    }

    .study-rooms .waiting-list {
      margin-left: 8px;
    }

    .study-rooms:before {
      font-family: "FontAwesome";
      content: "\f0c0";
      font-size: 1.125rem;
      position: absolute;
      left: 0;
    }

    .computers:before {
      font-family: "FontAwesome";
      content: "\f109";
      font-size: 1.125rem;
      position: absolute;
      left: 0;
    }

    .room-bookings:before {
      font-family: "FontAwesome";
      content: "\f073";
      font-size: 1.125rem;
      position: absolute;
      left: 0;
    }

    .printing:before {
      font-family: "FontAwesome";
      content: "\f02f";
      font-size: 1.125rem;
      position: absolute;
      left: 0;
    }

    .off-campus:before {
      font-family: "FontAwesome";
      content: "\f13e";
      font-size: 1.25rem;
      position: absolute;
      left: 2px;
    }

  }
}

.special-messages {
  margin: 0;
  padding: 10px 0;
}

.special-messages-block {
  p {
    margin: 0;
  }

}

#jckl-chat-popout {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 0;
  -moz-transform: rotate(270.0deg);
  /* FF3.5+ */
  -o-transform: rotate(270.0deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(270deg);
  /* IE 10 */

  a {
    display: block;
    padding: 5px 10px;
  }
}
@include all_small_screens {
  #jckl-chat-popout {
    display: none !important;
  }
}

#console {
  height: 400px !important;
}
