@import "variables";

.sidebar {
  padding: 0 30px;

  .shared-block {
    margin-bottom: 40px;
  }

  h3 {
    margin: 15px 0;
    padding: 0 0 5px 5px;
  }

  ul {
    padding: 0 10px 5px !important;
    position: relative;
    margin: 0;

    li {
      margin-bottom: 1rem;
      list-style-type: none;
    }
  }

  .library-hours-block {
    .library-hours-view-calendar {
      margin-top: 0;
      padding: 0 10px 5px;
    }
  }

  .computers-block,
  .help-block {
    li:before {
      left: 10px !important;
    }

    .waiting-list {
      display: none;
    }
  }

}
@include mid_screen {
  .sidebar {
    .library-hours-label {
      display: inline-block;
      max-width: 100px;
    }
  }

}
@include all_small_screens {
  .sidebar {
    margin-top: 20px;
    padding: 0;

    .inner > div {
      padding: 10px;
      margin-bottom: 20px;
    }

    .library-hours-label {
      display: inline-block;
      max-width: 100px;
    }
  }

}
