@import "variables";

.headcount-form {
  .inputs {
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .btn {
    @include darkest_blue_button;
  }
}

.headcount-entry-table {

  width: 100%;

  th {
    padding: 5px;
  }

  td {
    padding: 5px;

    input {
      width: 70px;
    }
  }

}

.chart-area {
  .highcharts-chart {
    height: 600px;
    padding: 15px;
  }

  &.dashboard-chart-area .highcharts-chart {
    height: 400px;
  }

  .dashboard-chart-details-link {
    margin-top: 15px;
    padding-top: 10px;
  }

  .loading {
    display: none;
  }
}
