//Styles for Summon
.screen-media-wrapper{
    
    .leftBar{
        .ng-scope.col{
            width: 160px !important; 
        }

        .count.col{
            font-size: 11px !important;
        }
    }
} 