<h1><%= @page_title %></h1>
<nav class="dvds-navigation">
  <div class="dvds-genres dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Genre: <%= @genre.andand.display_name || "All" %>
    </button>
    <div class="dropdown-menu">
      <%= link_to("All", dvds_url(genre: nil, sort: @sort), class: "dropdown-item") %>
      <% DvdGenre.all.order(:display_name).each do |genre| %>
        <%= link_to(genre.display_name, dvds_url(genre: genre.display_name, sort: @sort), class: "dropdown-item") %>
      <% end %>
    </div>
  </div>
  <div class="dvds-sort-order dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort Order: <%= @sort || "Newest by Release Date" %>
    </button>
    <div class="dropdown-menu">
      <%= link_to('Newest by Release Date', dvds_url(sort: 'Newest by Release Date', genre: @genre), class: "dropdown-item") %>
      <%= link_to('Newest by Date Acquired by JCKL', dvds_url(sort: 'Newest by Date Acquired by JCKL', genre: @genre), class: "dropdown-item") %>
      <%= link_to('Title', dvds_url(sort: 'Title', genre: @genre), class: "dropdown-item") %>
    </div>
  </div>
  <div class="dvd-title-filter dropdown">
    <form method="GET" class="input-group">
      <input type="text" name="title" class="form-control" value="<%= @title %>" />
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Search by Title</button>
      </span>
    </form>
  </div>
  <%= link_to("Reset", dvds_url, class: "btn btn-secondary") %>
</nav>
<% if @paginated_dvds.present? %>
  <div class="results-count">
    <%= "Showing #{(@current_page * @dvds_per_page) + 1} - #{(@current_page * @dvds_per_page) + @paginated_dvds.length} of #{@dvds.length} DVDs." %>
  </div>
  <%= render "pagination" %>
  <ul class="list-group">
    <% @paginated_dvds.each do |dvd| %>
      <li class="dvd list-group-item clearfix">
        <div class="col-md-2">
          <div class="dvd-image">
            <a href="<%= dvd.quest_url %>">
              <img src="<%= dvd.full_image_url(request.host_with_port, true) %>" alt="DVD cover image for <%= dvd.title %>" />
            </a>
          </div>
        </div>
        <div class="col-md-10">
          <div class="dvd-title">
            <a href="<%= dvd.quest_url %>"><%= dvd.title %></a>
            <% if dvd.available %>
              <span class="tag tag-success">Available</span>
            <% else %>
              <span class="tag tag-warning">Unavailable</span>
            <% end %>
          </div>
          <div class='dvd-genres'>
            <% dvd.dvd_genres.pluck(:display_name).sort.each do |genre| %>
              <a class='tag' href="<%= dvds_url( :genre => genre ) %>"><%= genre %></a>
            <% end %>
          </div>
          <div>
            <% if dvd.copyright_date %>
              <span class="dvd-year">&copy;<%= dvd.copyright_year %></span>
            <% end %>
            <% if dvd.runtime %>
              <span class="dvd-runtime"><%= dvd.runtime %>  minutes </span>
            <% end %>
            <span class="dvd-language"><%= dvd.language %> </span>
          </div>
          <div class="dvd-call-number">
            <%= dvd.location_name %>, <a href="<%=dvd.quest_url %>"><%= dvd.call_number %></a>
          </div>
          <div>
            <% if dvd.rating %>
              <div class="dvd-rating">
                <span class="dvd-stars">
                  <%
                  for j in 1..10 do
                    if j <= dvd.rating
                    %>
                  <i class="fa fa-star"></i>
                  <%
                    elsif j - 0.5 <= dvd.rating
                    %>
                  <i class="fa fa-star-half-o"></i>
                  <%
                    else
                    %>
                  <i class="fa fa-star-o"></i>
                  <%
                    end
                  end
                  %>
                </span>
                <%= dvd.rating %>/10
              </div>
            <% end %>
            <div class="dvd-checkouts">Checked out <%= dvd.checkouts %> times</div>
          </div>
          <div class="dvd-summary clearfix readmore" data-lines="4"><%= dvd.summary %></div>
          <% if dvd.imdb_url %>
            <div class='dvd-imdb-link'><a href='<%= dvd.imdb_url %>'>View on IMDB</a></div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= render "pagination" %>
<% else %>
  <p>There are no DVDs matching these criteria.</p>
<% end %>
