<table class="table table-striped table-sm">
  <thead>
    <th></th>
    <% @table[:headings].each_with_index do |heading| %>
      <th><%= heading %></th>
    <% end %>
  </thead>
  <% @table[:rows].each do |date, values| %>
    <tr>
      <td><%= date %></td>
      <% values.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tr>
  <% end %>
</table>
