<div class="dashboard-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <%= link_to('Overview',
        stats_dashboard_url,
        class: "nav-link #{if current_page?(action: 'dashboard') then 'active' end}") %>
    </li>
    <li class="nav-item">
      <%= link_to("Building Headcount Data",
        stats_headcounts_url,
        class: "nav-link #{if current_page?(action: 'headcounts') then 'active' end}") %>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link disabled">Reference Transaction Data</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link disabled">Circulation Data</a>
    </li>
    <li class="disabled">
      <a href="" class="nav-link disabled">Interlibrary Loan Data</a>
    </li>
    <li class="nav-item">
      <%= link_to("Computer Usage Data",
        stats_computers_url,
        class: "nav-link #{if current_page?(action: 'computers') then 'active' end}") %>
    </li>
    <li class="nav-item">
      <%= link_to("Study Room Usage Data",
        stats_studyrooms_url,
        class: "nav-link #{if current_page?(action: 'studyrooms') then 'active' end}") %>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-item">
      <%= link_to("Headcount Entry Form",
        stats_headcount_form_url,
        class: "nav-link #{if current_page?(action: 'headcount_form') then 'active' end}") %>
    </li>
  </ul>
</div>
