<h1><%= @page_title %></h1>
<div class="row">
  <div class="col-md-3">
    <%= render "nav" %>
  </div>
  <div class="col-md-9">
    <div class="dashboard-chart-data-filters box-shadow">
      <form method="GET">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control anytime-date" id="headcount-form-current-date" name="date" value="<%= @form.headcount_date %>" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Change Date</button>
          </span>
        </div>
      </form>
    </div>
    <div class="box-shadow headcount-form">
      <%= semantic_form_for @form, :url => stats_headcount_form_url( :date => params[:date] ), :method => :post do |f| %>
        <%= f.inputs do %>
          <%= f.input :headcount_date, :as => :hidden %>
          <div class="headcount-entry-table-wrapper">
            <table class="headcount-entry-table">
              <thead>
                <th></th>
                <% @form.headcounts_on_date.each do |hour, counts| %>
                  <th><%= hour %></th>
                <% end %>
                <th></th>
              </thead>
              <%
                locations = @form.headcounts_on_date.values[0].keys
                hours = @form.headcounts_on_date.keys
                locations.each do |location_name|
                  location = Location.find_by( location_name: location_name )
              %>
              <tr class="floor-<%= location.floor %>">
                <td><%= location.display_name %></td>
                <% hours.each do |hour| %>
                  <td>
                    <%= f.input :headcounts, as: :number, label: false,
                        input_html: {
                          id: "headcount_form_headcounts_#{hour}_#{location_name.gsub(/[^0-9a-z ]/i, '')}",
                          name: "headcount_form[headcounts][#{hour}][#{location_name}]",
                          value: @form.headcounts_on_date[hour][location_name] || 0
                        } %>
                  </td>
                <% end %>
                <td><%= location.display_name %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <%= f.actions do %>
        <%= f.action :submit, as: :button, label: "Save", button_html: { class: "btn btn-secondary" }  %>
        <%= f.action :submit, as: :button, label: "Clear", button_html: { class: "btn btn-secondary form-clear", name: 'clear', value: 1 } %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
