<h1><%= @page_title %></h1>
<div class="row">
  <div class="col-md-3">
    <%= render 'nav' %>
  </div>
  <div class="col-md-9">
    <div class="chart-data-filters box-shadow">
      <form method="get">
        <div class="form-group row">
          <label for="start-time" class="col-sm-1 col-form-label col-form-label-sm">Start Time</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm anytime-datetime" id="start-time" name="start_time" value="<%= @start_time.to_s(:long_12hr) %> " />
          </div>
        </div>
        <div class="form-group row">
          <label for="end-time" class="col-sm-1 col-form-label col-form-label-sm">End Time</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm anytime-datetime" id="end-time" name="end_time" value="<%= @end_time.to_s(:long_12hr) %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="interval" class="col-sm-1 col-form-label col-form-label-sm">Time Interval</label>
          <div class="col-sm-11">
            <select class="form-control form-control-sm" id="interval" name="interval">
              <% HighchartsDataSource::INTERVALS.each do |name, display_name| %>
                <option value="<%= name %>" <%= if @interval == name.to_s then "selected" end %>><%= display_name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="grouping" class="col-sm-1 col-form-label col-form-label-sm">Grouping</label>
          <div class="col-sm-11">
            <select class="form-control form-control-sm" id="grouping" name="grouping">
              <option value="all" <%= if @grouping == "all" then "selected" end %>>All</option>
              <option value="floor" <%= if @grouping == "floor" then "selected" end %>>By Floor</option>
              <option value="location" <%= if @grouping == "location" then "selected" end %>>By Location</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-sm btn-secondary">View Chart</button>
            <button type="button" class="btn btn-sm btn-secondary" id="download-csv">Download CSV</button>
          </div>
        </div>
      </form>
    </div>
    <div class="chart-area box-shadow">
      <%= high_chart_globals(chart_globals) %>
      <%= high_chart("headcounts-chart", @chart) %>
    </div>
    <div class="chart-data-table box-shadow">
      <%= render 'datatable' %>
    </div>
  </div>
</div>
