<h1><%= @page_title %></h1>
<%= react_component('MapPage',
      initialComputers: @computers.as_json(methods: :available?),
      availabilityUrl: computers_availability_url,
      meetingRoomsUrl: meeting_rooms_url,
      mapUrl: asset_path('floorplan.svg'),
      initialFloor: @initial_floor,
      initialHighlightedElementId: @highlight
) %>
<!--[if lte IE 8]>
  <div className="old-browser-message">
    <p>
      It appears you are using an older browser that is not able to display this map correctly.
      For the best experience, please <a href="https://browser-update.org/update.html">update to one of the following browsers</a>:
    </p>
    <ul>
      <li>Internet Explorer 9 or greater</li>
      <li>Mozilla Firefox 15 or greater</li>
      <li>Google Chrome 20 or greater</li>
      <li>Safari 5 or greater</li>
    </ul>
  </div>
<![endif]-->
